[2015-04-25 15:37] deltakosh opened #1 "Visual Studio"
We should add a documentation entry for VS users

[2015-04-25 15:43] deltakosh opened #2 "Doc unclear when getting from the repo"
If I get everything from the repo, how should I launch the server? We need as well to provide a better description of the folders structure

[2015-04-25 15:57] deltakosh commented on #2
As a web developer using Vorlon.js, I have to clone hte repo, go to /server and do npm install, then go to /plugin and do the same.

[2015-04-25 16:03] deltakosh opened #3 "remove all tests pages and provide a better one"

[2015-04-25 16:23] bear commented on #2
@latentflip can work on this now that the repo has a "real" root directory.

will we be able to push changes to this repo soon?

[2015-04-25 16:25] latentflip commented on #2
If you just run npm install, npm start from root it works, you don't have to do anything else. I can clarify that though yes.

[2015-04-25 16:25] latentflip commented on #2
I think someone from Microsoft should explain the folder structure though as they are more familiar with it than me.

[2015-04-25 17:03] deltakosh commented on #2
You can push to this repo already
I'll do the folder structure desc.

[2015-04-25 17:09] deltakosh commented on #2
Just let me know where to put the description

[2015-04-25 17:10] deltakosh commented on #1
Doc added to readme.md

[2015-04-25 17:10] #1 closed

[2015-04-26 01:12] deltakosh opened #4 "Gulp is not install with npm install"

[2015-04-26 01:12] deltakosh opened #5 "Typescript error: Object Host as no getDefaultLibFilename"

[2015-04-26 01:29] #5 closed

[2015-04-27 08:35] latentflip commented on #4
Gulp isn't installed, it's just not installed globally, as a dependency of an npm package cannot be installed globally.

This means that gulp is available to npm scripts (look at the build scripts in package.json) but you cannot just type gulp at the command line without installing it yourself.

I'm going to add a section to the docs today that will explain that if you want to run gulp commands di

[2015-04-27 13:35] latentflip commented on #4
Expanded the docs about gulp, this is probably closeable now.

[2015-04-27 13:36] latentflip commented on #2
@deltakosh here's a section where you can expand the description of the structure here https://github.com/MicrosoftDX/Vorlonjs/tree/master#developing-on-vorlonjs

[2015-04-27 16:00] #4 closed

[2015-04-27 16:32] #2 closed

[2015-04-27 16:32] #3 closed

[2015-04-27 17:12] deltakosh opened #14 "WHen cloning the repo, calling npm install does not generate all the files"
For some reason, I had to go to /plugins and manually call a gulp

[2015-04-30 18:19] csuwildcat opened #18 "Proposal: load plugin panels in <object> viewports"
In playing with the dashboard and thinking about the render of plugins, I would like to submit for consideration the idea of instantiating plugins inside their own light text/html document within an `<object>` element. This would provide the following for plugin authors:

- Encapsulation for styles and script
- Media queries scoped to the size of the panel's container, not the entire parent window

[2015-04-30 18:27] csuwildcat commented on #18
I guess this brings up the question of plugin security - is that something we need to account for/care about in Vorlon? The answer could be NO if we don't think it matters for the local machine user flow, but probably should be accounted for if we decide to pursue a hosted version.

[2015-05-01 01:19] haikyuu opened #19 "Angularjs compatibility?"
It doesn't seem to work with angular, i just added the script tag but in my angular app i get the following error in the console:
`Uncaught SyntaxError: Failed to execute 'querySelectorAll' on 'Document': '[ng:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide' is not a valid selector.`

[2015-05-01 02:08] #14 closed

[2015-05-01 02:09] deltakosh commented on #19
Are you sure this is linked to vorlon.js? Because I do not see why this happens as we do not touch the DOM

[2015-05-01 05:51] niloy commented on #19
Yes, this is definitely vorlon issue. Even I am getting the same errors in my angular application. I started getting those errors only after I included "vorlon.js" script.

[2015-05-01 06:02] anashalb opened #20 "Directory path incorrect"
Script file /Server/public/vorlon/vorlon-noplugin.max.js

Line 187: this.loadingDirectory = "Vorlon/plugins", while the directory is actually "vorlon/plugins"

This doesn't seem to cause an issue when running on localhost but when running on a hosted machine, the following files aren't loaded:
vorlon/plugins/domExplorer/control.html
vorlon/plugins/interactiveConsole/control.html
vorlon/plugins/mod

[2015-05-01 06:21] #20 closed

[2015-05-01 06:21] deltakosh commented on #19
Do you mind sharing your project? Or at least a repro case? I'll fixing asap then:)

[2015-05-01 09:00] alexstanbury commented on #19
Same issue here

[2015-05-01 14:52] Auine opened #21 "Port flag"
Why i can run it only on 1337? lol really why? How i can to start it on any other port?

[2015-05-01 15:06] Auine commented on #21
Ok,
sudo PORT=[port] vorlon

[2015-05-01 15:06] #21 closed

[2015-05-01 15:06] deltakosh commented on #21
Actually you can change it:
https://github.com/MicrosoftDX/Vorlonjs/blob/master/Server/Scripts/vorlon.webServer.ts#L53

[2015-05-01 15:34] Auine opened #22 "WebSocket connection to 'ws://./' failed"
WebSocket connection to 'ws://./' failed: Error in connection establishment: net::ERR_NAME_NOT_RESOLVED

[2015-05-01 15:47] Auine commented on #22
all in style of ms devs, bugs, laggs, and all made through ass. I spend half an hour to just test it, and it's doesn't even work

[2015-05-01 16:52] pierlag commented on #22
What is your dev environement ? Server side (php, nodejs, ?) and client side (Angular, IE, Chrome, Firefox) ?
Thanks

[2015-05-01 17:03] Auine commented on #22
ubuntu, nodejs(volonjs)
chrome, simple test page that was provided at website. I just changed port 1337 to 91.
 Somehow ws is pending, but nothing are logging to server, and modernizr throws that error

[2015-05-01 17:53] ggoodman opened #23 "Multi-tennancy"
Hello, awesome project.

I built and run Plunker (http://plnkr.co/edit/) and think that giving users the ability to automatically inject Vorlon into running previews would be very compelling.

To require each user to be running their own Vorlon server would go against the idea of frictionless creation in Plunker.

Can Vorlon be configured for mutli-tennancy (this might be the wrong term)?

Cheers,

[2015-05-01 18:06] pierlag commented on #22
If you change the port you need to change the script reference web site side like : http://localhost:91/vorlon.js

[2015-05-01 18:20] Auine commented on #22
of course, i did

[2015-05-01 18:22] pierlag commented on #22
all run on the same machine ?

[2015-05-01 18:24] Auine commented on #22
are you trolling me?) Yes, the same

[2015-05-01 18:29] pierlag commented on #22
I'm trying to understand why the connection between client and server not working. Vorlon.js based on socket.io so they are nothing specific. You give not enough information to help you to debug sorry

[2015-05-01 22:12] deltakosh commented on #19
Thank you I check it right now :)

[2015-05-01 22:16] deltakosh commented on #19
Fixed by https://github.com/MicrosoftDX/Vorlonjs/commit/6550a0eef15e44b78722717db6b3aa54d004bae8

[2015-05-01 22:16] #19 closed

[2015-05-02 12:37] #22 closed

[2015-05-02 12:42] pierlag commented on #23
Vorlon.js (dashboard) is mono-tennancy but you can used "session" to have multi-session on the same server:
- client side : <script src="http://localhost:1337/vorlon.js/session2"></script>
- dashboard : http://localhost:1337/dashboard/session2

[2015-05-02 12:42] #23 closed

[2015-05-02 22:34] matthiasg commented on #18
Well css separation is a nice benefit in the absence of web components but do all targeted browsers support this object behavior ?

[2015-05-03 05:24] NetanelBasal opened #26 "No such file or directory when running"
I install the package like this: ```npm install vorlon -g``` and when i try to run vorlon i get this:
env: node\r: No such file or directory
When i am checking if vorlon is installed by ```which vorlon``` command i get this:
/Users/netanelbasal/.nvm/v0.10.35/bin/vorlon
so its seems to be install, what is the problem?

[2015-05-03 05:24] csuwildcat commented on #18
@matthiasg the ability to load a lite document viewport in object elements via a data url source is well supported back to at least IE10 (probably 9 as well, just need to double check). However, @deltakosh informs me that securitization of this type is not something we need to worry about for plugins. As you stated, it would be nice to have the CSS contained so errant styles don't leak from one co

[2015-05-03 06:10] matthiasg commented on #18
It isn't high priority I concur.. There are more interesting things to pursue

[2015-05-03 12:20] matthiasg commented on #26
same here...

the `bin/vorlon` file was published with windows line endings instead of unix line endings. Its best to only use unix line endings when publishing to npm or at the very least tell git to checkout the 'binary' files with unix encoding and not use platform encodings.

changing the `/usr/local/lib/node_modules/vorlon/bin/vorlon` to unix endings fixes it

[2015-05-03 15:12] SoundLogic commented on #19
thanks for the quick turn-around!

[2015-05-03 15:53] NetanelBasal commented on #26
Where i am changing this?

[2015-05-03 17:45] deltakosh commented on #26
Should be good now. I changed bin/vorlon endings to UNIX:)

[2015-05-03 17:45] #26 closed

[2015-05-03 20:07] csuwildcat commented on #18
Closing, wontfix

[2015-05-03 20:07] #18 closed

[2015-05-04 01:04] RobbieLePommie opened #28 "XMLHttpRequest... required Cross Origin Resource Sharing / WebSocket connection to 'ws://./' failed"
(Previously reported, but issue closed without resolution)

# Debug tools fail to start with error

File: 2

or

(IE Message, Chrome message respectfully)

# Notes on deployment

 - All on same machine, straight install, default settings, first test.
 - Added the script line to the top of an existing HTML file in HEAD, before modernizr (with all other JS loaded through require.js in BODY)
 - Windo

[2015-05-04 01:15] RobbieLePommie commented on #28
Additional info: this is a reported in console (running the Vorlon server)

ult

ult

ult

ult

ult

ult

NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.90 Safari
/537.36] on sessionid : default socketid = urOZaqko4XJR9s2aAAAE type=PLUGIN, ses
sion=default

/537.36 (KHTML, like Gecko) Chrome/42.0.2311.90 Safari/537.36] on sessionid : de
fault socketid = urOZaqko4XJR9s2aAAAE

[2015-05-04 02:15] deltakosh commented on #28
Do you mind using vorlon.max.js instead? This will give us more info as this is the unminified version

[2015-05-04 03:45] bizzy4758 commented on #28
thank you for your help  whatever is necessary thank you bizzy4758

[2015-05-04 04:14] RobbieLePommie commented on #28
Using vorlon.max.js  (I think there are two bugs / issues here....)

This is where it bombs in IE11:

url = "ws://localhost:1337/socket.io/?EIO=3&transport=websocket&sid=Pv3ThT3atQbHsTmwAAAE"

Call stack:

****************************************************************************

Where it first bombs in Chrome:

sheets[c].rules = null for a particular URL (where that URL returns an empty body (

[2015-05-04 04:29] RobbieLePommie commented on #28
Further update: more info on issue 1 (IE)

Although I'm requested "localhost", Fiddler is showing the calls as coming from my IP address. If I change the include to "http://IPADDRESS:1337/vorlon.max.js" then there are no security warnings and it shows in console.

I then get other warnings. Should I add here, or log all as separate issues for you?

[2015-05-04 11:34] arnochauveau opened #29 "WebSocket connection to 'ws://./' failed: Error in connection establishment: net::ERR_NAME_NOT_RESOLVED"
I get this error in the chrome console when trying to use vorlon: `modernizr.js:4 WebSocket connection to 'ws://./' failed: Error in connection establishment: net::ERR_NAME_NOT_RESOLVED `

it also shows `Uncaught TypeError: Cannot read property 'length' of null  default:797`

when i place a breakpoint on that line, I can see that the rules object is in fact not null but what one would expect...

!

[2015-05-04 13:18] polikin opened #30 "BrowserSync suppport"
Il will be nice to support BrowserSync - http://www.browsersync.io/

[2015-05-04 13:35] polikin opened #31 "SecurityError: The operation is insecure"
`SecurityError: The operation is insecure.`
`...),t.refresh()})},r.prototype._getElementByInternalId=function(e,t){if(t.__intern...`
`vorlon.js (line 4)`

http://recordit.co/nL4QzAOy4j

[2015-05-04 14:27] seb0zz commented on #29
I have exactly the same issue.

[2015-05-04 14:52] seb0zz opened #32 "Dashboard authentication"
Is there any authentication mechanism for the dashboard? As the documentation does not provide any documentation regarding to security stuff I just took a quick look into the sources and noticed that the npm module `passport` is required. Is this really used now?

[2015-05-04 16:24] deltakosh commented on #28
Hello Robbie and thanks for your appreciated help:)
Can you share the client project you use?

[2015-05-04 16:26] deltakosh commented on #29
Hey.   and thanks for the feedback:)
Can you share the client page that you are using?

[2015-05-04 16:45] seb0zz commented on #29
Just set up a heroku app for debugging purposes. And here is a simple HTML file for reproducing the problem:

[code]

[2015-05-04 16:48] deltakosh commented on #29
Lovely!

[2015-05-04 17:14] arnochauveau commented on #29
https://gist.github.com/413a1b929cb7106945c3.git  here's my page

[2015-05-04 18:31] senthilp opened #34 "Wrong Content-Type for vorlon.js"
We set up vorlon in one of our cloud machines. When hitting the JS URL (http://machine-name:1337/vorlon.js) for `vorlon.js`, the `Content-Type` in the response header is `text/html; charset=utf-8` instead of `application/javascript`. We followed these simple [steps](http://www.vorlonjs.com/#getting-started), is there any other setting to change? The full response header is below

**Content-Length:

[2015-05-04 20:49] deltakosh commented on #34
Adding @meulta for this one

[2015-05-04 20:50] deltakosh commented on #31
Hello Polikin, can you give me more info on your config? How do you use it? Is there any firewall between server and devices?

[2015-05-04 20:51] deltakosh commented on #32
We plan to add authentication in a future version. We did some experiments using passport. This is why it is still here. But for now, dashboard does not support authentication

[2015-05-04 20:51] #32 closed

[2015-05-04 21:43] #29 closed

[2015-05-04 21:44] deltakosh commented on #28
Chrome issue with websockets should now be fixed by:
https://github.com/MicrosoftDX/Vorlonjs/commit/d6c257f69b5a6c3206fea79ddd8aac7f1b938cb6

[2015-05-04 21:45] deltakosh commented on #28
Please let me know if issues are still here

[2015-05-04 21:57] deltakosh commented on #29
It was basically due to a test done by modernize

[2015-05-04 22:57] csuwildcat opened #35 "innerText use borks client list entry text"
`innerText` is an old, proprietary DOM property that is not supported by most modern browsers. We should be using `textContent` instead, but is it a problem if it is only compatible down to IE9? The added benefit of `textContent` is that it does not cause a style recalc like `innerText` does, which is better for perf.

@deltakosh I have a commit to switch these properties that works and makes the

[2015-05-04 22:58] csuwildcat commented on #35
Here is the offending line for review: https://github.com/MicrosoftDX/Vorlonjs/blob/master/Server/public/vorlon.dashboardManager.ts#L127

[2015-05-04 23:37] RobbieLePommie commented on #28
Very nicely done. Both issues appear to have cleared up. Thanks.

[2015-05-04 23:37] #28 closed

[2015-05-05 00:02] RobbieLePommie opened #36 "Unable to get property 'length' of undefined or null reference"
Occurs in IE console.

The "node" in question is an SVG element with no children*.

Creating a pull request fix for you (although it's a one-liner, probably easier to do yourself).

Line 897 (vorlon.max.js).

* Why? Part of a build process is that we build multiple SVGs in one, then inline display them. Currently there are none in the project, but there will be, so the code is needed.

(And to ans

[2015-05-05 00:38] deltakosh commented on #35
Dashboard side is intended to run on modern browesersw

[2015-05-05 09:30] seb0zz opened #38 "Uncaught ReferenceError: io is not defined"
I only get this error if I add the vorlonjs script tag to the DOM dynamically via JavaScript. Everything works fine if the script tag is in the page head block from the beginning on.

[2015-05-05 11:11] operatino opened #39 "env: node\r: No such file or directory"
Get this error on running any `vorlon` command:

[code]

My env: OSx 10.10.2, Node.js version - v0.10.33.

[2015-05-05 11:17] palnes commented on #39
Beat me to it by two minutes.
λ ~/src/ vorlon
env: node\r: No such file or directory

This is only when using the npm and is due to Windows line-endings. Changing the line endings from Windows (CRLF / \r\n) to Unix (LF / \n) will fix this issue. Checking out the project from git provides the proper line endings, and will not display this error.

[2015-05-05 11:20] operatino commented on #39
Yeah, I already figured out this as well. Needs to be fixed in the package itself.

[2015-05-05 11:28] operatino opened #40 "No text in DOM inspector"
I connected to test page provided http://cdn.rawgit.com/MicrosoftDX/Vorlonjs/master/Plugins/samples/index.html, and vorlon interface does not expose text in the DOM.

My env: OSx 10.10.2, Nodejs - v0.10.33, Browser Chrome 42/Safari.

![image](http://d.pr/i/1fbKQ+)

Is the tool only optimized for Windows + IE?

[2015-05-05 11:32] meulta commented on #40
Hello,

I can see the dom elements in the screenshot you provide. What docyou expect to see here?

[2015-05-05 11:33] meulta commented on #34
Thanls for the feedback, I will have a look

[2015-05-05 11:35] meulta commented on #39
Yep we will fix that, thanks :-)

[2015-05-05 11:37] operatino commented on #40
I expect to see DOM together with text inside the nodes. Like it's working in any other DOM inspector (Chrome, Safari, Firefox).

[2015-05-05 11:38] meulta commented on #40
Ping @deltakosh :-)

[2015-05-05 11:49] operatino commented on #40
I mean like this:

![image](http://d.pr/i/11lwJ+)

You may also notice, that `onclick` attribute is also stripped out.

[2015-05-05 13:02] polikin commented on #31
This is what I did. http://recordit.co/oX6xO2wjAF

This is the console log error.
![vorlon](https://cloud.githubusercontent.com/assets/3017112/7472922/2d497eb8-f305-11e4-93a2-7a927b9c46ef.png)

[2015-05-05 14:16] deltakosh commented on #31
Adding @pierlag :)

[2015-05-05 14:18] #36 closed

[2015-05-05 14:19] deltakosh commented on #38
Humm...this **should** work:)
Will check asap!

[2015-05-05 14:21] deltakosh commented on #40
Hey Operatino!
The support for textnode is part of our next update:)

Events support could be great as well though:)

[2015-05-05 15:31] deltakosh commented on #35
So please go ahead and use textContent instead

[2015-05-05 17:49] csuwildcat commented on #35
This has been resolved via inline commits.

[2015-05-05 17:49] #35 closed

[2015-05-05 18:19] csuwildcat commented on #38
I am not able to reproduce this on Firefox Beta or Chrome Beta, which browser are you seeing this in?

[2015-05-05 18:53] seb0zz commented on #38
Mhhh I am also using Chrome... Let me check if I can setup a small sample project for reproducing the problem.

[2015-05-05 20:04] #34 closed

[2015-05-06 07:58] engincancan commented on #21
Yes, We [can](http://stackoverflow.com/a/13333312/2007333) with;
unix shell:
[code]

More permanently:
[code]
In Windows:
[code]

In Windows PowerShell:
[code]
However it will be great if there is an optional parameter to vorlon like,
[code]

[2015-05-06 08:05] Auine commented on #21
Yes, parameter will be great

[2015-05-06 09:39] alexstanbury commented on #19
I'm still unable to use this in my Angular app, see the screen shot for console errors.

It's also freezing my app when I have the Vorlon script tag commented in.

![screen shot 2015-05-06 at 10 37 18](https://cloud.githubusercontent.com/assets/809537/7490868/0138ef3e-f3dc-11e4-99b8-b617ec8f824b.png)

[2015-05-06 09:43] alexstanbury commented on #19
It seems to work ok with the project that I uploaded earlier in the thread though...

[2015-05-06 12:58] polikin commented on #31
Let me know when the update will be done, because I reinstalled vorlon and I had the same error.

[2015-05-06 13:06] meulta commented on #31
Not sure it made it into the 0.0.12. Let me have a look :)

[2015-05-06 13:36] deltakosh commented on #19
I tried with a couple of angular projects and it was ok

[2015-05-06 13:36] meulta commented on #31
The fix seems to be in the 0.0.12 on npm.
The other thing which is weird is that you have "undefined" in the console on the dashboard.
Is this also an error or did you expect that ?

[2015-05-06 13:38] polikin commented on #31
it's an error.

[2015-05-06 13:47] polikin commented on #31
This is the step I did: http://recordit.co/7cqutrezlT

[2015-05-06 13:52] polikin commented on #31
The problem seem to be with Visual Studio or my solution, because I tried with a simple html file and it's work.

[2015-05-06 13:55] meulta commented on #31
What javascript lib do you reference? Can you try referencing vorlon.js in the client html file before all other javascript file?

[2015-05-06 13:56] polikin commented on #31
I'm using RequiredJS

[2015-05-06 14:11] seb0zz commented on #38
Turned out that this is a problem with RequireJS and Socket.io - sorry for the circumstances!

[2015-05-06 14:11] #38 closed

[2015-05-06 16:12] seb0zz opened #41 "Browser crashes when connecting to client through dashboard"
As soon as I connect to the client via the dashboard the entire client application starts lagging and crashes after a few seconds. By crashing I mean that the session is not usable anymore due to a huge CPU overload. Is there any way to turn off the server -> client communication through the dashboard? I only need to receive log messages from the client without being able to send console commands

[2015-05-06 16:14] deltakosh commented on #41
Hey, can you reproduce the bug on a simple repro case? Or can you share your client page?

[2015-05-06 19:34] seb0zz commented on #41
Unfortunately I coudn't give you access to the project where I found this problem but I managed to create a test project with a pretty similar situation. This test project is a lot smaller (in terms of DOM size, JS complexity etc.) so the application does not crash but starts to be very very laggy as soon as VorlonJS is enabled.

You can find the project at https://github.com/seb0zz/ionic-vorlonjs

[2015-05-06 19:45] deltakosh commented on #41
Huge:) I'll check it asap!!

[2015-05-07 08:36] dvoituron opened #43 "Allow to reference VorlonJS without automatically starting the traces (Core.Start)"
How to start the client VorlonJS only when the user want. For example, first referencing the vorlon.js file, and later execute "VORLON.Core.Start" when the user clicks on a button in this web page?

[2015-05-07 10:27] mikyweb opened #44 "Osx 10.9.5 vorlon: command not found"
Hello, i have installed Vorlon width "npm i -g vorlon" command but when i start the server width "vorlon" command i have the message "vorlon: command not found"

Can you help me ?

Thanks

[2015-05-07 13:40] meulta commented on #43
Hello,

You can already do that by including in your project the vorlon.max.js or vorlon.js file that you can get from the github project. We only add the call to Start on the fly when requesting it from the server.

After referencing it on your html page, you can call VORLON.Core.Start whenever you want.

That should do the trick for now and I will add a http://yourdomain/vorlon.nostart.js served

[2015-05-07 13:42] meulta commented on #44
I am going to check that :)

[2015-05-07 13:44] mikyweb commented on #44
Thanks

[2015-05-07 14:26] dvoituron commented on #43
Thanks.

[2015-05-07 15:20] meulta commented on #44
I just did a test on a OSX with the same version (10.9.5) and I cannot reproduce your issue.
Did you run npm install -g vorlon using sudo ?

[2015-05-07 16:06] meulta commented on #43
Done here : https://github.com/MicrosoftDX/Vorlonjs/commit/72522eceea90c58fa22efecb00bf47a7e224b9ab

I am updating the npm package also.

You can now reference the client script using

<script src="http://localhost:1337/vorlon.autostartdisabled.js">/<script>

or

<script src="http://localhost:1337/vorlon.max.autostartdisabled.js">/<script>

Then you just have to call VORLON.Core.Start(...) :)

[2015-05-07 16:45] meulta commented on #43
And... done ! ;-)

[2015-05-07 16:45] #43 closed

[2015-05-07 19:01] arcturus opened #45 "Workers support"
It will be really nice to have support for worker.

Despite that the original plugins like dom inspector or modernizr won't make sense, other plugins could be created to interact and debug workers.

Right now I tried by myself with the sample plugin, but it crash againts a dependency with 'document' that in workers is not meet.

[2015-05-08 04:14] YuJianrong opened #46 "Exception raised when the <script> tag added to HTML file"
Hi,
I had installed vorlon by the instructions in **Getting Started**, but after I added the ```<script>``` tag into the HTML and reload, An exception raised when I reload the page:
[code]
I found it's came from this code:
[code]
Seems the variable ```io``` is undefined. Any bug in the recent version of vorlonJS?

[2015-05-08 04:23] YuJianrong commented on #46
Sorry I found it's caused by the conflict of vorlon and the AMD implementation by ourselves.

[2015-05-08 04:23] #46 closed

[2015-05-08 06:53] johanalkstal commented on #41
Sounds similar to what I'm experiencing when trying vorlon is our Angular application.

When I add the vorlon script, the app becomes unresponsive and the browser asks if I want to stop the `http://localhost:1337/vorlon.js` script.

[2015-05-08 19:42] deltakosh commented on #41
It was due to a too frequent DOM dump. I changed the way I synchronize it. You should still notice a slowdown at the beginning when I'm capturing the DOM but then things should be smooth again:)

[2015-05-08 22:01] meulta commented on #44
Any more info on that one mikyweb? :)

Will be happy to help !

[2015-05-08 22:05] meulta commented on #31
Can you give me a sample were your issue can be reproduce ?
Or your code if shareable?

Thanks

[2015-05-09 01:43] deltakosh opened #49 "Add a refresh button on domExplorer"
Like the one in objectExplorer

[2015-05-09 05:25] csuwildcat opened #50 "Serialize and print all attributes via attributes token list"
We should be serializing all attributes, not just a few hard coded ones. Switch to serializing the attributes token list and adding all members in a more generic way.

[2015-05-09 08:43] deltakosh commented on #50
Excellent idea

[2015-05-09 15:09] deltakosh commented on #40
Validated

[2015-05-09 15:09] #40 closed

[2015-05-10 21:19] skmolugu opened #53 "CSS Properties Panel"
In Dashboard the newly added CSS properties are not persistent to the session,Click of the same element not showing the newly added properties always its showing the computed styles.

[2015-05-10 21:33] deltakosh commented on #53
You're right, we need to fix it!

[2015-05-10 21:38] skmolugu commented on #53
I have fixed this but not able to commit showing access denied.

[2015-05-10 21:42] deltakosh commented on #53
Can you create a pull request?

[2015-05-11 05:43] pierlag commented on #31
perhaps http vs https ?

[2015-05-11 15:10] polikin commented on #31
I tried Vorlon with my localhost.

[2015-05-11 15:24] #44 closed

[2015-05-11 15:47] garora commented on #53
@skmolugu - It will be nice to have this into master. I would like to make it try at my end :+1:

[2015-05-12 02:48] #53 closed

[2015-05-12 15:03] atondelier commented on #38
As VorlonJS depends on Socket IO with its ability to detect CommonJS or AMD, it may also do this same detection, thus enabling VorlonJS to be used even if AMD is in use (e.g. RequireJS).

2 temporary solutions:
 * nullify `define.amd`. ...I even suggest this to be the solution, not to make VorlonJS proper code to implement AMD. (then restore it just after socket.io is loaded)
 * let guys load sock

[2015-05-12 15:09] seb0zz commented on #41
This fixed the problem for the sample app. Still have the problem with my own app and I think the main difference is that the DOM is much larger than in the test application. What about you @johanalkstal did this fix work for you?

@deltakosh Is there any way to disable the DOM syncing feature easily?

[2015-05-12 15:12] deltakosh commented on #41
We will soon. The idea is to have a refresh button instead

[2015-05-12 15:14] seb0zz commented on #41
Would be great!

[2015-05-12 15:17] deltakosh commented on #41
Pulling in @csuwildcat :)

[2015-05-12 15:30] seb0zz commented on #41
And it would be great if the DOM is not initially synced but only at the first click of the "refresh" button or what ever the button name will be ;)

[2015-05-12 15:34] csuwildcat commented on #41
I'm just finishing up augmenting the print of attributes in the explorer panel, but will jump on this next.

[2015-05-12 15:34] seb0zz commented on #41
Awesome :+1:

[2015-05-12 18:53] csuwildcat opened #57 "Begin integration of Custom Elements to enhance plugin development"
We should begin to integrate Custom Elements to enhance the plugin development experience, maintain a consistent UI/UX across plugins, and automate some of the common, generic functions that plugins perform (refresh is a great first use-case).

[2015-05-12 18:54] csuwildcat commented on #57
Pulling in @deltakosh and @davrous for initial discussion.

[2015-05-12 21:35] drcrook1 commented on #45
This is sort of like what I'm looking for.  I have a series of IoT robotics devices that run on node.js and I would like to debug them.  I'm trying to figure out how to get remote debugging to work.  There is no dom.  The current debugging tools are un-reliable and continue to fail: https://github.com/Microsoft/nodejstools/wiki/Remote-Debugging-Node.js-running-on-Linux I'm looking at Vorlon as a p

[2015-05-12 21:53] deltakosh commented on #45
Interesting. We are working on a version where you can define which plugins to use

[2015-05-12 22:33] csuwildcat opened #58 "Highlight end tags when a node is selected, also make end tag selectable via UI event"

[2015-05-12 22:34] drcrook1 commented on #45
Which plugin should I be looking at?  I just started looking at this as an alternative today.  I got the dashboard up and running and was trying to figure out how to get debugging to work on my device, however I can't find instructions or a file that looks like a likely culprit.  I would be more than happy to write up an article if I can get it to work.  http://indiedevspot.com/

[2015-05-12 22:58] arcturus commented on #45
I tried to modified the sample plugin, and it's pretty easy, but there is a dependency with the `document` object always.

I'm sure the context can be detected and provide different communication/logging mechanisms.

[2015-05-12 23:10] deltakosh commented on #45
Can you point out where the document dependency is?

[2015-05-13 01:57] csuwildcat commented on #50
Work completed in pull https://github.com/MicrosoftDX/Vorlonjs/issues/56.

[2015-05-13 01:57] #50 closed

[2015-05-13 02:01] csuwildcat opened #59 "Plugin panel hide/show management is buggy"
The code that regulates the hide/show of plugin panels is buggy, it allows the user to tab focus elements in panels that are supposed to be hidden. This bumps the visible panel out of view and causes a strange partial view of both panels.

Steps to reproduce:

- load dashboard
- select remote source
- click on the last tag in the DOM Explorer
- tab through past the last tag

You will see the input

[2015-05-13 11:31] davrous commented on #57
Great. How should we proceed? It would be great to test a POC by transforming one of the plugin to use custom elements.

We should also evaluate which impacts it will have on the Vorlon plugin architecture itself. Currently, the way we’re loading html views is very basic.

David

From: Daniel Buchner [mailto:notifications@github.com]
Sent: mardi 12 mai 2015 20:54
To: MicrosoftDX/Vorlonjs
Cc: David

[2015-05-13 11:33] meulta commented on #59
Yep I saw that already, I will have a look :)

[2015-05-13 11:41] meulta commented on #38
Thanks atondelier, I will have a look at this :)

[2015-05-13 21:19] evandavis opened #60 "CSS Panel missing most content"
I'm using Vorlon to inspect a page running in an app webview on Android. The app is running locally in Genymotion. When I select a node, I don't see anything except these strange border styles listed in the CSS panel; sometimes it doesn't show anything at all.

The same behavior occurs if I load up a page in Chrome on the emulator. I can select nodes, console works as expected, but no styles are v

[2015-05-14 06:20] csuwildcat commented on #57
@davrous perhaps it would be best to begin by converting a couple UI/functional items that are used repetitively across the app and in plugins to get a feel for Custom Elements in the project. Then, once everyone is familiar and up to speed, we can collaborate on what an entire plugin built using Custom Elements would look like. Thoughts?

[2015-05-14 20:21] haroldSanchezb opened #61 "Not recognizes Android Stock Browser"
I get this message:

warn:    API : No client in session default type=API, session=default
info:    DASHBOARD : New Dashboard with session id : default type=DASHBOARD, session=default
info:    DASHBOARD : No client selected for this dashboad on this session : default type=DASHBOARD, session=default
info:    DASHBOARD : Received identify for sessionid : default type=DASHBOARD, session=default
error

[2015-05-14 20:22] patrickkettner commented on #61
what device, what version of android?

[2015-05-14 20:24] haroldSanchezb commented on #61
Samsung Galaxy S4, and I get this message with Iphone emulator:
ReferenceError: Can't find variable: io

[2015-05-14 21:03] deltakosh commented on #60
Can you share the project you're using?

[2015-05-14 21:03] deltakosh commented on #59
Some news? :)

[2015-05-14 21:04] deltakosh commented on #61
What do you mean by "not recognized" ?

[2015-05-14 21:05] deltakosh commented on #58
Closed by https://github.com/MicrosoftDX/Vorlonjs/commit/e80469f84efe39b3817f1d01e8c2145ced25303c

[2015-05-14 21:05] #58 closed

[2015-05-14 21:06] deltakosh commented on #31
is it still the case with latest version ?

[2015-05-14 21:07] haroldSanchezb commented on #61
Not inspect, none client appears

[2015-05-14 21:10] deltakosh commented on #61
Ok sounds like a issue with socket.IO
How do you reference vorlon.js? using the single line? Do you use require.js? do you use socket.io on your side?

Pulling in @meulta for help:)

[2015-05-14 21:11] haroldSanchezb commented on #61
I use RequireJS, and yes I using the single line

[2015-05-14 21:15] deltakosh commented on #61
Ok sounds like a issue with socket.IO
How do you reference vorlon.js? using the single line? Do you use require.js? do you use socket.io on your side?

Pulling in @meulta for help:)

[2015-05-14 21:20] haroldSanchezb commented on #61
Ok, I put the line from vorlonjs before requirejs, and when I try to connect nothing appear only the messages from terminal, and when I inspect with forefoxdevedition, I saw the ReferenceError: Can't find variable: io message,

[2015-05-14 21:24] deltakosh commented on #61
Ok so this is a known issue with have with socket.io. @meulta is working on a fix:)

[2015-05-14 21:25] haroldSanchezb commented on #61
ah Cool, so i'll waiting :)

[2015-05-14 21:27] deltakosh commented on #61
This won't be long:)

[2015-05-15 00:18] csuwildcat commented on #49
@deltakosh I'd really like to introduce a 'standard' controls bar that can be used across the project. This is but one type of control, and three panels are already using horizontal control/input bars that I believe should be normalized into something all plugin authors can leverage.

I propose the creation of a `<x-control-bar>` custom element that can house action buttons, inputs, and other cont

[2015-05-15 01:25] deltakosh commented on #49
Like it..go this way

[2015-05-15 15:08] #31 closed

[2015-05-15 15:11] polikin commented on #31
I reinstalled Vorlon.. same error.

[2015-05-15 15:14] davrous commented on #49
Would be cool also to still monitor dom changes on client side just to tell to the Dashboard that the DOMExplorer is not synchronized with the client device anymore.

[2015-05-15 15:22] davrous opened #66 "Web Audio plug-in"
Create a similar experience as the Web Audio Firefox F12 features inside Vorlon.js.

The idea is to create a SVG graph on the dashboard side that will be synchronized with the web audio nodes running on the client side.

It will be helpful to remote debug & test Web Audio on mobile devices.

[2015-05-15 15:28] deltakosh opened #67 "Add spinning donut when domExplorer is loading"

[2015-05-15 15:59] pierlag commented on #31
link to RequiredJS probably fix in 0.0.15

[2015-05-15 16:02] meulta commented on #61
hey @haroldSanchezb :)

Just to be sure, are you loading socket.io with requirejs in your code?
That would help be reproduce the problem
Thanks

[2015-05-15 17:27] meulta commented on #61
Also, it would be even better if you could share your files or a substract of it tht reproduce the error.
Thanks

[2015-05-16 09:10] meulta commented on #59
Yep this is not exactly what I thought. Need a bit more time to fix it ! :)

[2015-05-16 18:30] meulta commented on #59
Fixed.
You can now no more use tab in plugins.

[2015-05-16 21:09] csuwildcat commented on #59
I'm going to reopen this to attempt a more targeted fix that blocks the display issue described.

[2015-05-16 21:10] csuwildcat commented on #59
@meulta can you roll that commit back? (was it ever pushed into master)

[2015-05-16 22:22] csuwildcat commented on #59
@meulta it looks like this bug can be prevented if we ensure the other plugin panels are all set to `display: none;` when not the active tab. I see the Object Explorer is still displayed even though it is not the selected plugin. I tried to search across the project and find the code that manages plugin hide/show, but couldn't find where that code resides. Can you point me there so I can take a lo

[2015-05-17 09:01] meulta commented on #59
@csuwildcat Thanks, you are right it is a way better way to fix this.
Just rolled back and pushed a version according to that.

[2015-05-17 09:01] #59 closed

[2015-05-17 16:40] deltakosh commented on #60
Up?

[2015-05-17 17:50] evandavis commented on #60
I don't understand the question...?

[2015-05-17 23:44] deltakosh commented on #60
Can you share the source code of your app? Or a simpler repro case?

[2015-05-18 08:07] mikyweb commented on #44
Sorry, I was on vacation.
I have run npm install -g vorlon using sudo but, the command vorlon not function for me.
Thanks

[2015-05-18 10:05] meulta commented on #61
Any news on the repro case @haroldSanchezb  ? :)
Thanks a lot

[2015-05-18 15:10] evandavis commented on #60
Unfortunately I can't share our source. In attempting to create a simpler repro, it appears that the issue is with our HTML document; loading up the Vorlon testpage in our webview works as expected. I'll open a new ticket if I can isolate the issue, otherwise closing for now.

[2015-05-18 15:10] #60 closed

[2015-05-18 17:44] samanime opened #68 "Add HTTPS Support"
Currently, there doesn't seem to be a way to use this properly with a site in HTTPS. This greatly limits Vorlon.JS' usefulness, as many sites have migrated to using HTTPS everywhere.

Adding HTTPS support would be huge.

[2015-05-18 22:17] meulta commented on #68
Hello,

Can you give us more information about the configuration you want to enable here?

Do you mean that the dashboard will be hosted on a website with https?
Do you mean that your website will be available through https?
Will all of the components hosted on the same site?

Thanks a lot !

[2015-05-18 23:12] samanime commented on #68
All of the above. =)

In particular, I think the most useful variant would be to be able to launch it over localhost over HTTPS, so you can then add the script to an HTTPS site.

For example, the use-case I was planning to try is:

- Have Vorlon running via localhost
- Load remote HTTPS site (like https://example.com)
- Add script tag via jQuery: $('<script src="https://localhost:1337/vorlon.js"><

[2015-05-19 13:21] mxmlbernard commented on #68
Hi,

Monitoring a remote HTTPS website while Vorlon is running on localhost would be ideal for me as well.

[2015-05-19 14:56] meulta commented on #68
Hello,

@pierlag is going to have a look at this ! :)

[2015-05-20 09:25] haroldSanchezb commented on #61
Hi, is necessary load socket.io in requirejs? I don't use in my project and I load the script before run requirejs, greetings!

[2015-05-21 04:42] maiorfi opened #72 "JS client as AMD module?"
It would be great :)

[2015-05-21 08:20] drazik commented on #61
I also have an issue with android browser. I don't know if it's related. I load VorlonJS using `<script src="http://x.x.x.x:1337/vorlon.js"></script>`  before my `</body>`. When I load my page on android browser, the browser crashes when the page has finished loading.

Here are the logs :

[code]

Do you think I should open another issue or it is related to the current one ?

[2015-05-21 13:42] deltakosh commented on #72
We started the project as an AMD module. But then we realized that some plugins (like the console) need to be loaded before everything else in order to capture all messages.

[2015-05-21 13:42] #72 closed

[2015-05-21 14:32] meulta commented on #61
hey,
@haroldSanchezb I am going to prepare you a version doing that.

@drazik can you create another issue with more infor about the android version ? are you testing that on an emulator? which one?

Thanks

[2015-05-21 16:12] kud opened #73 "Crash on Android Browser (Android 4.3)"
Everytime I add Vorlon.js on my page, it crashes the browser.

- Galaxy Nexus
- Android 4.3
- Android Browser

[2015-05-21 16:14] kud opened #74 "Freeze on Chrome Dev"
When I add Vorlon.js on my webpage, when everything is loaded, Google Chrome freezes and I can't do anything. I can't even refresh the webpage. I have to close and create another tab.

- Android 4.3
- Chrome Dev 44.0.2403.7

[2015-05-21 16:16] kud opened #75 "Why there is an readme.txt?"

[2015-05-21 16:29] davrous commented on #74
Hi,

 Can you please share what's in your page? Please list the JS library loaded and if you're doing specifics with the DOM. Would be great if you could share the page somewhere.

 Does it freeze also using Firefox, IE or Edge?

Thanks!

[2015-05-21 16:33] davrous commented on #73
Hi,

 Thanks for your feedback. It crashes the mobile browser or the desktop browser on the dashboard side? Can you please describe what's in your page and share it, if possible, somewhere for review?

Thanks!

David

[2015-05-21 16:36] kud commented on #73
It crashes the mobile browser. I have no trouble with the admin page.

I'll try to make a page if I can.

[2015-05-21 16:37] kud commented on #74
I've never used Edge so I don't know. I do not have IE either. I'll try with Firefox to see what happens.

Hard to list the lib we use because they're many.

I will try to make a test webpage.

[2015-05-21 17:06] deltakosh commented on #75
Fixed :)

[2015-05-21 17:06] #75 closed

[2015-05-21 17:07] deltakosh commented on #74
I'm pretty sure this is linked to the DOM explorer trying to dump the DOM. @csuwildcat is working on a new way of updating the DOM without relying on DOMContentAdded and DOMContentRemoved

[2015-05-21 18:35] csuwildcat commented on #74
I'll try to have this wrapped up by tomorrow afternoon.

[2015-05-21 18:39] kud commented on #74
It could help me a lot because I've got some troubles today to make my mobile work with WebIDE or Chrome Canary and vorlon.js/weinre is a solution I think.

Unified debugger everywhere.

[2015-05-21 18:40] kud commented on #74
+1 about `DOM explorer` because it's this panel who doesn't load/display anything when I go to the admin.

[2015-05-21 19:15] deltakosh commented on #74
Yep, the problem here is that extracting the DOM from clients can take time. So the idea would be to have a button to extract it ONLY on demand

[2015-05-21 21:36] kud commented on #73
It won't help you but a friend of mine who is on another project, another device, well a really another context, has the same problem.

[2015-05-22 12:56] drazik opened #77 "Android browser crashing at the end of page loading"
I have an issue with android browser. I load VorlonJS using `<script src="http://x.x.x.x:1337/vorlon.js"></script>`  before my `</body>`. When I load my page on android browser, the browser crashes when the page has finished loading.

Here are the logs :

[code]

Android version is 4.2.2, running on a Samsung Galaxy Tab 3 Lite. I don't know how to find Android Browser version.

[2015-05-22 23:52] csuwildcat opened #81 "Plugin functions are uncallable in response to events"
I have everything in place to switch from the Mutation events that are causing performance issues and crashes as a result of their DOM recomputation in DOM Explorer, but it appears all calls to Plugin functions are blocked from being called inside event listeners via some kind of pseudo-CSP.

Here's what I am doing: I created a refresh event that bubbles from within a Plugin's UI and is handled at

[2015-05-23 00:22] deltakosh commented on #81
I will definitely need more info to help.Can you commit your code in a temporary branch?

[2015-05-23 00:24] csuwildcat commented on #81
@deltakosh I just pushed it to the components branch

[2015-05-23 00:26] csuwildcat commented on #81
Here is the line that throws: https://github.com/MicrosoftDX/Vorlonjs/blob/components/Plugins/Vorlon/plugins/domExplorer/vorlon.domExplorer.ts#L220

[2015-05-23 00:28] csuwildcat commented on #81
@deltakosh I am adding a listener to handle `refresh` events thrown from within the DOM Explorer's DOM tree panel. It appears that something is taking issue with a Plugin's function being invoked from inside an event handler.

Is there some form of custom, object-checking/locking CSP that the project or TypeScript employs to prevent this?

[2015-05-23 00:40] deltakosh commented on #81
Not to my knowledge:(

[2015-05-23 00:47] deltakosh commented on #81
Warning there is a misunderstanding here: the refresh function does not exist dashboard side. You have to send a refresh message to the client side of the plugin.

[2015-05-23 00:51] deltakosh commented on #81
Like this:
Core.Messenger.sendRealtimeMessage(this.getID(), { type: "refresh" }, RuntimeSide.Dashboard);

And then you have to update this function:
https://github.com/MicrosoftDX/Vorlonjs/blob/components/Plugins/Vorlon/plugins/domExplorer/vorlon.domExplorer.ts#L188

in order to add a "refresh" case

Does it make sense?

[2015-05-23 00:55] csuwildcat commented on #81
@deltakosh this event is not coming from the client, it is coming from the dashboard's own UI/elements. If you log `this.refresh` in the scope of that event handler it clearly exists.

Why would a Plugin be charged with creating its own dashboard UI and have no access to its own public/private functions? I don't understand that aspect, can you clarify?

[2015-05-23 01:00] csuwildcat commented on #81
@deltakosh you said this in the comment above: "Warning there is a misunderstanding here: the refresh function does not exist dashboard side", but then how come I can log the function and execute it? A security warning makes me thing the object is protected in some way. If the function didn't exist, wouldn't that handler immediately throw undefined when binding/calling it?

[2015-05-23 01:03] deltakosh commented on #81
Actually it exists as the same code is executed on the client and on the dashboard. But the dashboard is not executed on the device, so there is no reason to execute refresh() function dashboard side. Right?

You need to use the messenger as I shown before to send a message to the client part of the plugin in order to execute refresh on the device

[2015-05-23 01:04] deltakosh commented on #81
I mean: the click will happen on the dashboard, the dashboard is gonna use the messenger to send a message to the client, the client will receive the message, process it and resend the result back to the dashboard

[2015-05-23 01:04] csuwildcat commented on #81
@deltakosh hmm, ok, I thought `refresh()` was the function that performed that flow (sending a message to the client and grabbing latest). I will take another look.

[2015-05-23 01:05] deltakosh commented on #81
Ok I understand so :)

[2015-05-23 01:12] csuwildcat commented on #81
@deltakosh got it working, thanks for the clarification :)

[2015-05-23 01:16] deltakosh commented on #81
My pleasure my friend

[2015-05-23 01:16] #81 closed

[2015-05-24 17:25] torreslucas13 opened #83 "console.dir()"
We could have the ```console.dir ()``` function to describe a variable and its attributes . For example:
[code]

And the result on the console would be:
x -> "Some value",
y -> "Value Some",
z: -> "Value Value"

[2015-05-25 11:48] meulta commented on #83
I love this !
Pulling @deltakosh for milestone update

[2015-05-25 11:50] meulta commented on #77
Hello,

Does it also fail on the emulator?
Did you try with a simple page?
Can you share your code to help me reproduce this?

Thanks

[2015-05-26 03:03] zhaowx opened #84 "how can I debugger js"
With a look, I donot know how to bebugger the javascript!

[2015-05-26 08:46] pli88 opened #85 "Inline styles, Path and name attribute not shown in DOM Explorer"
I have this code

[code]

Explorer shows just this

[code]

Is there a way to tweak it to shows all

[2015-05-26 14:13] torreslucas13 commented on #83
Thanks, Any predictions for improvement ? : D: D : D: D: D ( sorry for the "pressure" )

[2015-05-26 17:20] deltakosh commented on #83
Soooooooon:)

[2015-05-26 18:00] deltakosh commented on #85
This should work with the version on the repo (not on NPM though)

[2015-05-26 18:01] deltakosh commented on #84
You can inspect the javascript variables with object explorer or through the console

But you cannot set breakpoint for instance

[2015-05-26 18:01] #84 closed

[2015-05-27 02:32] pli88 commented on #85
I installed the module from repo. But vorlon is not available to my project directory. Do i need to install i locally?

I used  ``` npm link``` from the module directory

[2015-05-27 04:41] deltakosh commented on #85
When launched from the repo, you have to 'npm install' in the repo folder and then execute 'vorlon'

[2015-05-27 14:59] meulta commented on #61
To keep you updated, we are doing so tests and dev and the version with socket.io optionnal will be available :)

[2015-05-28 00:09] haroldSanchezb commented on #61
Good!

[2015-05-28 09:37] drazik commented on #77
Hi,

I don't know if it fails on the emulator, I don't have it installed. Have to be honest, I don't have so much time to install it and do the test :$

My test was on a very simple page, here is the code :

[code]

global.css :
[code]

global.js
[code]

[2015-05-28 13:46] meulta commented on #61
Hello,

You know have a new parameter in the catalog.json file under server/public (documented here : http://vorlonjs.io/documentation/#vorlonjs-server-advanced-topics) that you can use to choose weither you want to get socket.io from vorlon or not.

The client part is waiting that socket.io is loaded before doing anything so you can load it how you want.

It is available on the github repo code r

[2015-05-28 13:51] #61 closed

[2015-06-01 17:57] csuwildcat commented on #49
@deltakosh @davrous dirty checking button/refresh is in for the DOM Explorer, and I just finished swapping out the bespoke control headers in DOM Explorer and Object Explorer with the new `<x-controlbar>` element. All of this is in the components branch. We should all take a look before I do the final push into master.

[2015-06-01 19:05] csuwildcat commented on #85
@pli88 I added full attribute support to master a couple weeks ago. When you get master up, let me know, should work! :)

[2015-06-01 19:55] cvuorinen opened #87 "Style editor doesn't remember modified values"
When I change an elements styles using the CSS pane in DOM Explorer, the styles get applied correctly. But if I change to another element and then back again, the style editor shows the original styles instead of the modified styles.

The modified styles do persist on the actual element. But if I come back to a changed element and click inside a value I modified before and don't change it but just

[2015-06-02 12:42] meulta commented on #77
Hello,

Just to keep you informed I did not manage to reproduce the problem.
I will try it using a device at my office but I am in a trip right now and not able to access this device.

I will get back to you soon :)

[2015-06-02 14:52] cubitouch opened #88 "Network Monitor Plugin"
Hi there,

Have you any plan for a Network monitoring plugin ?

I think I can have a try using this : https://developer.chrome.com/devtools/docs/network
Which seems pretty well supported these days : http://caniuse.com/#search=performance

Regards,
Hugo

[2015-06-02 15:13] deltakosh commented on #88
Hello Hugo, we are currently working on xhr analyzers but I do find that your idea is excellent as well. I'll add it to our backlog

[2015-06-02 15:19] cubitouch commented on #88
If I have a look at [this](http://getfirebug.com/network), I understand that you are working on a "XMLHttpRequest monitoring" feature, and mine is more concerning a "Watch the timeline unfold" one.

I got you right ?

If it's not a dupplicate, I will try to work on this :)

[2015-06-02 15:28] deltakosh commented on #88
You are right :) I would love to have you working on it :)

[2015-06-02 18:20] zhaowx opened #89 "session, clientId"
when I  see  the source, I find something like session, clientId,but I cannot thought how to use  them.
I guess, i open two or more tabs to debugger the html, I can see these at  the server. but I donot know how  to make it success

[2015-06-02 18:23] deltakosh opened #90 "Add authenthication (optional) for public server deployment"

[2015-06-02 18:50] csuwildcat commented on #49
This issue has been resolved in latest commit on master.

[2015-06-02 18:50] #49 closed

[2015-06-02 20:08] meulta commented on #89
Hello Zhaowx,

Can you explain me a little be more what you want to achieve here?
I will get you on the correct way :)

FYI :
- Session is the ID which used to identify a dashboard session. It is the string that is after the http://yourdashboardurl/dashboard/[HERE]
- clientID is the unique identifier for a specific client (aka : your website running on a browser connected to the dashboard)

[2015-06-02 20:09] meulta commented on #90
:)

[2015-06-02 21:29] cubitouch opened #91 "Can't run the "npm install" command"
I have the following npm-debug.log file when I run the "npm install" command:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install' ]
2 info using npm@2.10.1
3 info using node@v0.12.4
4 verbose readDependencies loading dependencies from C:\Users\HCA\Doc

[2015-06-03 13:18] cubitouch opened #92 "Plugin creation tutorial"
Hi,

I tried a lot of things in order to create my own plugin, but with no success.
Could someone write a more detailed documentation about how to build a new plugin, step by step ?

* Which folder to create (like in Plugins/Vorlon/plugins/myPlugin/*)
* Which file to edit (like the catalog.json file)
* ... ?

For example, my client side code doesn't seems to execute at all... I saw that my plugin

[2015-06-03 14:22] cubitouch commented on #92
And also, a development prerequisites list would be great (NodeJS Tools for Visual Studio, Gulp, ...)

[2015-06-03 14:25] lstefano71 commented on #92
I found this: http://blogs.msdn.com/b/emargraff/archive/2015/06/01/how-to-create-a-vorlon-js-plugin.aspx

[2015-06-03 14:29] cubitouch commented on #92
Seems great ! :)
Thanks

[2015-06-03 15:32] cubitouch commented on #91
Should have been specific to my configuration. It's working on a different computer.

[2015-06-03 15:32] #91 closed

[2015-06-03 22:02] cubitouch commented on #92
This link helped me a lot.
Maybe it should be integrated into the official documentation (at least the link to the MSDN blog post) ?

[2015-06-03 22:30] deltakosh commented on #92
Great idea!

[2015-06-04 14:45] cubitouch opened #94 "Start the server on a custom port"
It should be nice to be able to specify a port on which we want to run the server, in order to comply with network security rules (closed ports, per example).

[2015-06-04 14:47] deltakosh commented on #94
You can already do it by specifying it in env var

[2015-06-04 14:49] cubitouch commented on #94
My bad, didn't see it :)

[2015-06-04 14:49] #94 closed

[2015-06-04 14:53] cubitouch opened #95 "Resources Explorer Plugin"
Should be usefull to have a plugin to explore the:
* Local Storage
* Session Storage
* Cookies
* Web SQL
* IndexedDB
* Application Cache

[2015-06-04 15:38] deltakosh commented on #95
GREAT IDEA! :D

[2015-06-05 02:08] #85 closed

[2015-06-05 02:09] deltakosh commented on #74
Fixed by latest commit

[2015-06-05 02:09] #74 closed

[2015-06-05 02:09] deltakosh commented on #41
Closed by latest commit

[2015-06-05 02:09] #41 closed

[2015-06-05 05:42] csuwildcat opened #97 "Add a global dirtycheck event that is shared by all plugins"
To prevent the pattern of every plugin assaulting performance to check for things in the target remote page, add a global dirtycheck event that they can all tap into.

[2015-06-06 08:58] meulta commented on #92
Hey cubitouch,

I am happy that my tutorial helped you ! :)
It has been added here : http://vorlonjs.io/documentation/#sample-plugin

[2015-06-06 08:58] #92 closed

[2015-06-06 08:59] meulta commented on #89
Hello zhaowx,

Any news on this? :)

Thanks

[2015-06-07 17:56] seanpoulter commented on #68
+1. I'm interested in using this with the same use case.

[2015-06-07 19:11] ThomasCrvsr opened #101 "Ability to push modification on all clients at the same time"
Firstly : great work on this cool project :)

Secondly : It's just an idea of enhancement but I don't know if it's possible at the moment. When you make changes, I thought it would be great to push those changes simultaneously on several selected devices (to spot differences in behaviour or in styles for examples).

[2015-06-08 09:12] alexnlayer commented on #68
+1. I'm interested in testing my https sites with vorlon :)
Have you been some progress?

[2015-06-08 10:00] meulta commented on #101
Thanks ! :)

Great idea !

[2015-06-08 12:13] ThomasCrvsr commented on #101
I gave a thought about this while testing vorlon and I didn't find an intuitive way to integrate it in the UI. I'd be glad to work on this, but I'd rather see with you about detailing the feature :)

As I understood, for the moment devices aren't group by application, are they ? If not, I think it might be great in a first time to be able to do that.

[2015-06-08 15:23] seanpoulter commented on #68
While we have your attention @pierlag, can I help?

[2015-06-08 16:02] peutetre opened #102 "use vorlon programmatically"
It would be nice to be able to use vorlon programmatically, right now, importing `vorlon` starts the server.

Would love something like:
[code]

[2015-06-08 19:54] deltakosh commented on #68
Hey Sean, Pierre is working on a lot of stuff so if you want to update the server to support HTTPS: Please do :D

[2015-06-08 20:19] csuwildcat opened #103 "DOM Explorer: refresh button's state inidcator broken"
@deltakosh: In reviewing the latest changes in preparation for the addition of a global dirty check event, it appears someone broke the state indicator on the refresh button of DOM Explorer. The button no longer shows a color change when the DOM of the remote page has been modified.

[2015-06-08 21:07] csuwildcat commented on #77
@drazik after testing on both Android's old stock webkit browser and Chrome mobile, I cannot reproduce this bug. Can you please test with the latest versions of Vorlon? We removed some code that was probably causing the issues described.

[2015-06-08 21:08] csuwildcat commented on #73
@kud after testing on both Android's old, stock webkit browser and Chrome mobile, I cannot reproduce this bug. Can you please test with the latest versions of Vorlon? We removed some code that was probably causing the issues you described.

[2015-06-08 21:18] kud commented on #73
Yes, I'll do. Cheers ;)

[2015-06-09 06:10] seanpoulter commented on #68
I'm willing to have a go at it which comes with the warning it's my first venture into TS and the Node/Express server. Would either of you, @deltakosh or @pierlag, be willing to touch base briefly on how you'd want to setup the switch between http/https, where to store the [https options](https://nodejs.org/api/https.html#https_class_https_server)? Not sure what you've got in mind for the interfac

[2015-06-09 07:51] alexnlayer commented on #68
I developed some modifications to support https but require some improvements, will finish to try and change that I send to be analyzed :)

[2015-06-09 08:42] drazik commented on #77
@csuwildcat Ok thanks. I will test today or tommorow and let you know asap.

[2015-06-09 14:15] seanpoulter commented on #68
That'd be great @alexnlayer. You willing to push to your own branch soon?

[2015-06-09 15:47] deltakosh commented on #102
That's definitely a great idea! Let's add it to our backlog:)

[2015-06-09 17:56] pierlag commented on #68
Thanks @alexnlayer can you make a pull request to add https in the next milestone

[2015-06-09 18:24] alexnlayer commented on #68
oks @pierlag, thank you very much, I'm working on it.
Whenever I get finished changes will make a push for review :)

[2015-06-09 18:34] deltakosh commented on #83
Done by #104

[2015-06-09 18:34] #83 closed

[2015-06-09 18:35] #89 closed

[2015-06-09 18:35] deltakosh commented on #67
Done by #104

[2015-06-09 18:35] #67 closed

[2015-06-09 19:48] alexnlayer commented on #68
@pierlag I finished the changes and have tested on the local server. but I think that this development should work fine in remote server

[2015-06-09 20:34] meulta commented on #103
Will check.

[2015-06-09 20:36] deltakosh commented on #103
Gleborgne is on point for This one

[2015-06-09 20:40] csuwildcat commented on #103
@meulta @gleborgne just FYI, I'm in the process of enabling a global dirty notification/event at the Core/Plugin level that all authors can listen for. This will keep everyone from doing their own basic state notifications and harming perf. Once completed, I will rewire the refresh button to listen via the new mechanism.

[2015-06-09 20:44] deltakosh commented on #103
Ok sounds great. So We let you handle this @csuwildcat

[2015-06-09 20:49] csuwildcat commented on #103
No problem! :)

On Tue, Jun 9, 2015 at 1:44 PM, David Catuhe <notifications@github.com>
wrote:

[2015-06-09 21:56] alexnlayer commented on #68
@pierlag  Now I'm getting better development for the SSL option is loaded in the JSON file

[2015-06-10 01:35] zhaowx commented on #89
let's say there are 3 people:A,B and C. A and B opens a webpage called a.html seperately, while C debugger a.html on dashboard at server. the question is: how to synchronize the information on dashboard of a.html to A and B?

[2015-06-10 07:54] drazik commented on #77
@csuwildcat I still have the same problem after updating to 0.0.15-alpha5.

[2015-06-10 10:49] deltakosh commented on #77
I think that csuwildcat mentioned the version on the repo not the one on npm

[2015-06-10 12:12] alexnlayer commented on #68
I published changes to support SSL on a branch.
I have yet the task of documenting those changes and then make a pull request.
If anyone wants to test it can be downloaded from this branch https://github.com/alexnlayer/Vorlonjs/tree/SSL

[2015-06-10 12:13] HectorCodefilo opened #105 "Add npm package to use it in plugins."
I have been thinking about work in a screentshot plugin (it could be insteresting for bug tracking) and i would like to add some npm package that use phantomjs to take a screenshot of the web client. Could it be possible?

[2015-06-10 12:33] deltakosh commented on #105
Hello, this is not the goal. We want vorlon to run on client devices and use client browser

[2015-06-10 12:48] cubitouch commented on #105
Something like that would be interesting coupled with Console plugin : http://stackoverflow.com/questions/4912092/using-html5-canvas-javascript-to-take-screenshots
Never used it, do not know if it is stable enough these days.

[2015-06-10 12:49] deltakosh commented on #105
Yes but does it work on EVERY device/browsers/fridges?

[2015-06-10 12:54] cubitouch commented on #105
I believe it do not.
According to [this](http://caniuse.com/#feat=nav-timing) my Network plugin is not interesting either ?

[2015-06-10 12:57] deltakosh commented on #105
There is a slight difference before working just with Chrome and this :)

[2015-06-10 12:58] deltakosh commented on #105
My mental limit is: does it work for Ie9 :)

[2015-06-10 13:01] cubitouch commented on #105
Yes, I understand :)
David Rousset presented it this way too at the Paris' Build Tour.

[2015-06-10 13:46] deltakosh commented on #105
Thank you so much for your kind comprehension

[2015-06-10 14:10] cubitouch commented on #105
Seems a little more than just Chrome anyway : https://github.com/niklasvh/html2canvas#browser-compatibility

[2015-06-10 14:21] deltakosh commented on #105
Interesting...would love to see it working with real sites

[2015-06-10 14:22] HectorCodefilo commented on #105
I have been trying html2canvas for some test. It is not captures a perfect screenshot of client, for example, when you try to shot a page with an iframe it can not paint that element (CORS). (Look at twitter plugin when you click on "Test on this page" in http://html2canvas.hertzen.com/examples.html). However it is easy to use. You can take a shot (on callback you will get a canvas element) and th

[2015-06-10 14:29] cubitouch commented on #105
http://html2canvas.hertzen.com/screenshots.html

Yahoo website give a nice rendering, but some details (like the printed script tag and texts that are not properly aligned) is a little painful... But the weather widget seems to be working :D
The Javascript is disabled in this example page, it may explain some of these.

[2015-06-10 14:38] deltakosh commented on #105
Yep but in this case why do we need a screenshot which is not accurate? To debug you want the real screenshot. An approximate one has no value or am I missing something?

[2015-06-10 14:39] cubitouch commented on #105
I agree. Maybe it can help locate the user, on a single page app ?

[2015-06-10 14:43] deltakosh commented on #105
That's a really precise need;)

[2015-06-10 14:47] deltakosh commented on #103
Fixed by #106 so far

[2015-06-10 14:47] #103 closed

[2015-06-10 14:55] HectorCodefilo commented on #105
I do not undertand what do you mean with locate the user on a single page app. (By the way, should i close this issue ?)

[2015-06-10 15:05] deltakosh commented on #105
Yes please

[2015-06-10 15:13] cubitouch commented on #105
@deltakosh: Yes :)
@HectorCodefilo: It can allow to have a look at the kind of page the user is on (if the "windows.location" is not sufficient enough : single page app, step form, ...)

[2015-06-10 15:25] #105 closed

[2015-06-10 19:42] csuwildcat commented on #97
@deltakosh @gleborgne I was able to add a global event for content change (via dirty checking client content) that is broadcast to all plugins, but when I attempted to get latest the DOM Explorer plugin had radically changed in structure. The old dirty check is no longer needed after this addition, but I am unsure how to extricate it gracefully from the current code on master. I have a message wit

[2015-06-10 19:43] deltakosh commented on #97
Please send your updates to Guillaume directly

[2015-06-10 22:33] csuwildcat commented on #87
@cvuorinen as soon as the dust settles from the work going on in DOM Explorer, I will attack this issue. We have a team that is doing major refactoring of that plugin, and I don't want to hinder their progress.

[2015-06-10 22:58] csuwildcat commented on #57
Closing, as this is in-product

[2015-06-10 22:58] #57 closed

[2015-06-10 23:41] pierlag commented on #68
@alexnlayer can you add vorlon.key and vorlon.crt file in project for developer mode (localhost) ?

[2015-06-11 11:24] alexnlayer commented on #68
@pierlag no problem, I start now working on it :)

[2015-06-11 15:20] csuwildcat opened #108 "Switch dashboard tab/panels element to component"
I have this component finished, and it will radically simplify all the code surrounding creating of tabs and handling switching between content panels. I will swap out the existing stuff when the files in question settle down from the code churn.

Here's a link to the new component: https://github.com/x-tag/tabbox

[2015-06-11 18:16] deltakosh commented on #108
Please sync with @gleborgne

[2015-06-12 14:30] alexnlayer commented on #68
I've already added certificate files for localhost... Sorry for the delay :)

[2015-06-13 13:45] PaGury opened #112 "Allow DomExplorer to dispatch node selection messages to all plugins."
Actually, DomExplorer dispatch a message to InteractiveConsole with the node identifier, the InteractiveConsole print "document.getElementById(NodeIdentifier)".

I suggest to allow DomExplorer to broadcast a message to all plugins with the most accurate selector for the selected node (not only nodes with IDs).

Is someone working on it ? I can do it.

Thanks !

[2015-06-13 13:52] torreslucas13 opened #113 "console.dir()"
Hi,

I'm tryng to use `console.dir(document.body)`, but its not working.
Some instruction?

[2015-06-13 13:54] deltakosh commented on #112
That's a good idea! Can you just wait for the new DOMexplorer to be done? We are doing a lot of changes:)

[2015-06-13 13:57] PaGury commented on #112
For sure ! I'm waiting for your "go" !

[2015-06-13 13:57] deltakosh commented on #113
Adding @gleborgne

[2015-06-13 13:58] deltakosh commented on #113
We are still working on it:)

[2015-06-13 13:59] torreslucas13 commented on #113
Thx

[2015-06-13 14:28] gleborgne commented on #113
What browser did you use ?

[2015-06-13 16:31] torreslucas13 commented on #113
Google Chrome

[2015-06-13 20:13] jbousquie opened #114 "feature request : TS compiler plugin"
Avant tout, chapeau, c'est un super outil :-)

Je suis une fégnasse ce soir, donc désolé, ce sera en français (Môssieur).

Voici l'idée :
Actuellement je code avec mon éditeur (ST ou VSCode) sur le poste sur lequel tourne Vorlon.js et je débugge le JS avec Vorlon.

Quand je code pour BabylonJS, j'écris du TS.
Je passe ensuite à un terminal (suis sous linux) pour lancer un script gulp de compilatio

[2015-06-13 21:09] meulta commented on #114
I am switching back in english for everyone to understand :)

If I understand it correctly, you would like to be able to launch a TS compilation on your server ?
Would gulp-watch not do that for you automatically ?

[2015-06-13 21:10] mauron85 opened #115 "Suggestion: Use of relative paths"
Currently all paths are absolute, which prevents usage of reverse proxies.

Rationale: I would like to "hide" vorlon server behind nginx proxy, but absolute paths are no go.

[2015-06-13 21:11] meulta commented on #90
Working on that

[2015-06-13 21:11] meulta commented on #90
Woops :)

[2015-06-13 21:12] meulta commented on #115
pulling @pierlag on this one

[2015-06-14 04:39] jbousquie commented on #114
yep : the server here is the development platform where the developer codes also.
I know Vorlon is great to debug many devices at once.

But what is debuging without the development platform besides ? Usually the guy who uses vorlon is the guy who codes too. I mean he switches from the debug too (vorlon) to the dev too (editor) again and again in the debug/code process.

So I wondered if the full

[2015-06-14 19:00] pierlag commented on #68
ok for me you can make a pull request :)

[2015-06-14 20:38] deltakosh commented on #114
I'm afraid this is beyond Vorlon.js gaol which is lightweight remote debugging :) But I clearly get your point

[2015-06-14 21:29] pierlag commented on #68
Thanks @alexnlayer

[2015-06-14 21:29] #68 closed

[2015-06-15 04:24] jbousquie commented on #114
ok :-)

that was just a dream

[2015-06-15 04:24] #114 closed

[2015-06-15 04:28] deltakosh commented on #114
But I still like you:D

[2015-06-15 06:31] jbousquie commented on #114
mordelol

[2015-06-15 08:51] meulta commented on #115
Hello,

To help @pierlag correct the issue, can you give use more info about which path you are talking about?

Thanks

[2015-06-15 09:50] mauron85 commented on #115
Dashboard part:
`xhr.open("GET", "/api/createsession");`
`window.location.assign("/dashboard/" + sessionId);`
` xhr.open("GET", "/api/getclients/" + DashboardManager.SessionId);`
in
https://github.com/MicrosoftDX/Vorlonjs/blob/master/Server/public/vorlon.dashboardManager.ts

and so on ...

Server part:

`res.redirect('/login');`
in
https://github.com/MicrosoftDX/Vorlonjs/blob/master/Server/Scripts

[2015-06-15 09:52] mauron85 commented on #115
Basically my point is to make vorlon work under some basePath.

Eg: http://localhost/vorlon/

instead of:

http://localhost:port

[2015-06-15 12:35] seanpoulter commented on #68
Thanks @alexnlayer!

[2015-06-15 13:38] cubitouch opened #117 "Add Layout View to the DOM Explorer plugin"
Using `window.getComputedStyle()` (http://caniuse.com/#feat=getcomputedstyle) we could generate a Layout View of the computed styles of the inspected node :)

![image](https://cloud.githubusercontent.com/assets/7486151/8161052/6821db4a-1374-11e5-8f15-a7eedcb41295.png)

[2015-06-15 14:51] deltakosh commented on #117
We are working on it :)

[2015-06-15 14:52] #117 closed

[2015-06-15 14:53] deltakosh commented on #101
Hey Thomas, you can reach me on davca@microsoft.com. I'm closing the issue for now. Let's discuss over email as we already have plan for multicasting

[2015-06-15 14:53] #101 closed

[2015-06-15 14:55] kim3er commented on #102
+1

[2015-06-15 15:02] deltakosh commented on #113
Fixed by #116

[2015-06-15 15:02] #113 closed

[2015-06-15 15:04] deltakosh commented on #97
contentchanged is now raised for all plugins

[2015-06-15 15:04] #97 closed

[2015-06-15 15:04] deltakosh commented on #77
Up?

[2015-06-15 15:11] csuwildcat commented on #77
@deltakosh will try again to reproduce today, report back this afternoon.

[2015-06-16 01:03] csuwildcat commented on #77
@deltakosh @meulta I just tested one of my personal apps that is extremely dynamic and keeps a large number of nodes in the DOM tree for frequent modification. I am not experiencing any crashes on Android's old stock browser or Chrome Mobile using the latest build on master.

[2015-06-16 01:05] deltakosh commented on #77
Lovely!! Thank you so much

[2015-06-16 01:05] #77 closed

[2015-06-16 07:22] ThomasCrvsr commented on #101
Great ! I'll try to send you an email today :)

[2015-06-16 12:30] meulta commented on #115
Okay thanks for the details.
If I understand it correclty you want to be able to configure the base url you want for the API used by the Dashboard?

[2015-06-16 12:55] mauron85 commented on #115
Yes, that's correct.

[2015-06-17 11:52] cubitouch opened #119 "Console plugin with better errors handling"
Would be great to have a better errors handling using data from [window.error](https://developer.mozilla.org/fr/docs/Web/API/GlobalEventHandlers/onerror).
Coupled with a "Source" plugin to inspect source code files it would be very nice.

Already working on it ? :)

[2015-06-17 14:03] meulta commented on #119
Hey,
What would you like to have exactly ? Can you be more precise? :)

Thanks

[2015-06-17 14:12] cubitouch commented on #119
This function can be used to retrieve the URL and line number related to the error (not sure if we can do the same for console.log). It would allow us to see at what line and in which file the error occurs, and even open the file itself to see the source code that produced it. :)

This HTML source code:
`<script>
test
</script>`

Produce this in Firebug:
![image](https://cloud.githubusercontent.co

[2015-06-17 16:13] deltakosh commented on #73
up?

[2015-06-17 16:14] kud commented on #73
Let me try tomorrow, sorry for the delay. ;) I note it in my todolist with a deadline.

[2015-06-18 08:45] kud commented on #73
Nope, still have the bug.

[code]

`vorlon@0.0.15-alpha5` installed.

[2015-06-18 08:50] gleborgne opened #121 "Split code for plugins"
some plugins like dom explorer and console start being quite heavy on the dashboard side. It should be better splitting plugins into 2 parts (client and dashboard)

[2015-06-18 08:51] gleborgne commented on #119
that's definitely a good idea ! I will add it to console plugin

[2015-06-18 08:52] kud commented on #73
And if you need `adb logcat`:

[code]

[2015-06-18 11:58] cubitouch opened #122 "Wappalyzer plugin"
Would be nice to have a [Wappalyzer](https://github.com/AliasIO/Wappalyzer) plugin :)

It would display something like this in its tab:
![image](https://cloud.githubusercontent.com/assets/7486151/8230555/a9e8812e-15c1-11e5-9fa1-a663cb952a0c.png)

Not sure if we can gather as much data as the Chrome/Firefox extension, as it use HTTP headers for some guess, but client side libraries would be easy...

[2015-06-18 13:19] deltakosh commented on #73
can you try with the repomversion?

[2015-06-18 13:26] kud commented on #73
It's not the same version? https://github.com/MicrosoftDX/Vorlonjs/blob/master/package.json#L3

[2015-06-18 13:48] deltakosh commented on #73
No I did not push latest fix

[2015-06-18 13:54] kud commented on #73
So `$ npm install MicrosoftDX/Vorlonjs`?

[2015-06-18 13:57] deltakosh commented on #73
No git pull this repo:) or wait 1h. I'll update npm version

[2015-06-18 13:58] kud commented on #73
I wait for it so. Thank you @deltakosh  ;)

[2015-06-18 14:49] #88 closed

[2015-06-18 14:49] deltakosh commented on #88
PR under review

[2015-06-18 14:50] deltakosh commented on #87
Fixed.

[2015-06-18 14:50] #87 closed

[2015-06-18 15:10] deltakosh commented on #119
Done:)

[2015-06-18 17:58] csuwildcat commented on #121
This is also a great idea for simplifying scope checks. In several places there are code blocks that rely on checking the "_side" property of objects to ascertain whether or not they are operating in the client or server env. Commingling the two leads to a rather confusing hurdle for first time plugin developers. Separating the scope would reduce code complexity and make developing plugins much ea

[2015-06-19 07:34] meulta commented on #122
This is an interesting idea ! :)

[2015-06-19 13:25] marauderz opened #128 "Custom directives break NGInspector"
When a custom directive is in use (labeltest in this case)
[code]
ngInspector can only see the values in the first ng-repeat node. clicking on the other nodes clears the view on the right.

![ngcap](https://cloud.githubusercontent.com/assets/6801023/8254258/7a2747e6-16c9-11e5-9069-b847ea564877.PNG)

[2015-06-19 13:29] meulta commented on #128
pulling @PaGury

[2015-06-19 13:34] sebastieno commented on #128
Could you send us the labeltest directive code (or even betten a small app) ? Thx for your feedback.

[2015-06-19 14:08] marauderz commented on #128
Here you go
[code]
Here's the template for the directive
[code]
Controller for the actual page
[code]
The page itself
[code]
The test data being loaded
[code]

[2015-06-19 15:56] sebastieno commented on #128
Thanks for sharing your code. We are trying to reproduce the error.

[2015-06-21 13:13] cubitouch opened #131 "HTML5 Audio/Video plugin"
It would allow to track user actions on a `audio` and `video` tags using the different [events](https://developer.mozilla.org/fr/docs/Web/Guide/Events/Media_events), possibily using a timeline related to the media the user is playing.

The must would be to replay exactly what the user "http" requested (to reproduce a streaming server issue or something).

http://caniuse.com/#feat=video
http://cani

[2015-06-21 13:18] xtuc opened #132 "My solution for loggin & retrospective analysis (back from KiwiParty)"
I spoke with @meulta about this idea and would like to know what you think about it.

You have considered a Redis server for this work but I don't think it's good. I propose to use ElasticSearch to store logs and Kibana 4 to query them. You could this way developpe a light production version of Vorlon. The user can make statistics on specific website.
ElasticSearch works with multiple indexes. Eac

[2015-06-21 13:27] cubitouch opened #133 "SSL certificates directory not properly detected ?"
When I try to start the VorlonJS server (I just cloned it), I run into this exception:

![image](https://cloud.githubusercontent.com/assets/7486151/8271789/c7ebe7d2-1829-11e5-88ce-e2788244bc84.png)

When I copy the "cert" directory into the "VorlonJS" directory this seems to work.
Is that normal? Shouldn't it be using the "Server/cert" directory by default?

[2015-06-21 14:00] meulta commented on #131
Hello,

I am not sure I get what you would like to have here. Do you want to have a timeline giving you which event has been raised?

Thanks

[2015-06-21 14:03] meulta commented on #132
Hello Sven,

Thank you for taking the time to fill this issue :)

@pierlag is the one in charge of this logging/history feature.
He will have a look and we will discuss this in the team to be sure which approach we want to choose.

[2015-06-21 14:04] meulta commented on #133
pulling @pierlag

[2015-06-21 14:05] meulta commented on #115
Working on this, should be out early next week ;)

[2015-06-21 14:11] cubitouch commented on #131
Hello,

Yes, exactly. :)

The user start playing the media, pause after 1 minute, get back to 20 secondes before, jump to 2 minutes later. The idea is to display this timeline according to the media timeline (see where the user jumped in the media, the playing phases, etc.)

It would be interreting to be able to understand/reproduce a case in which the streaming server or the client would experien

[2015-06-21 16:31] #133 closed

[2015-06-21 16:32] meulta commented on #131
And which debug information should this give to the dev using the dashboard? :)

[2015-06-21 18:20] mauron85 commented on #115
Glad to hear that. :+1. Many projects are ignoring that (blame you strider-cd :-). I can test it if you want. Just write me name of your dev branch.

[2015-06-21 20:06] cubitouch commented on #131
Good point. For example, the delay between `seeking`and `seeked` events.
In fact, I was thinking about just observe the load/play/seek/error states and the waterfall these follow.

[2015-06-22 07:40] meulta commented on #128
Hey @sebastieno

Did you manage to reproduce this? :)

[2015-06-22 08:28] sebastieno commented on #128
Actually, I did not manage to reproduce this bug.

Here what I see on the dashboard when I execute your app (the scopes details are correctly displayed) :

![nginspector](https://cloud.githubusercontent.com/assets/2248640/8277969/c3d06d64-18c7-11e5-9fba-e6e9d80ced1d.png)

The only modification I did on your code is the *getservices* implementation (I just replace your HTTP request by a call to the

[2015-06-22 09:39] marauderz commented on #128
Angular Version is 1.4.0 rc1
Happens in both Chrome and IE11

The interesting thing is that are you displaying the data in a Custom Directive? Since my inspector has the blue thingies and yours don't.

![ngcap2](https://cloud.githubusercontent.com/assets/6801023/8279249/61422df2-1905-11e5-971a-d7a77f048516.PNG)

Also, as I mentioned, clicking on the first ng-repeat gets the values displayed, there

[2015-06-22 09:57] marauderz commented on #128
Ok, here's the bare minimal website which I just tested and exhibits the problem. Using Angular 1.4.1 from the CDN.
https://drive.google.com/file/d/0BxjkEc8OKoUIcHlMU0J0MWVIMWc/view?usp=sharing

[2015-06-22 11:36] sebastieno commented on #128
Ok, you' sample reproduce the bug. I will investigate :)

[2015-06-22 12:13] cubitouch commented on #122
I'm having a look at this plugin. It would involve a directory containing about 750 PNG icons.
How should I add and "register" (so that the server serve them) these resources into the plugins directory (if possible using a `git clone` so we can update if the Wappalizer repo' do)?

[2015-06-22 13:15] meulta commented on #128
Should be fixed, thanks @sebastieno :)

[2015-06-22 13:15] #128 closed

[2015-06-22 14:21] marauderz commented on #128
Yes it is fixed.. hey.. plugin configuration moved to another file! :P

[2015-06-22 15:09] deltakosh commented on #122
lol 750png? That's a lot! No way to pull them directly from the web?

[2015-06-22 15:10] deltakosh commented on #121
Done!

[2015-06-22 15:10] #121 closed

[2015-06-22 15:27] csuwildcat commented on #112
@PaGury we did something similar to broadcast a dirty check event to all plugins, and I'm thinking there should be a generic means to raise these system-wide events. Perhaps you can do so when you implement this feature?

[2015-06-22 15:28] cubitouch commented on #122
Maybe from [here](https://github.com/AliasIO/Wappalyzer/tree/master/src/icons) in raw mode? :)

[2015-06-22 15:31] #73 closed

[2015-06-22 15:32] deltakosh commented on #122
Yep

[2015-06-22 15:43] cubitouch commented on #122
Will try that then :)

[2015-06-22 17:03] gleborgne opened #138 "nginspector"
NgInspector assume client has Angular, and throw errors if it's not present.

Plugin should probably detect if angular is there and notify Dashboard accordingly

[2015-06-22 19:25] #95 closed

[2015-06-23 08:53] cubitouch opened #142 "Unit test plugin"
Would be interresting to be able to run a unit test (or a scenario) from dashboard to a connected client using something like [QUnit](http://qunitjs.com/).

This subject can be very vast as web test libraries are very various... what do you think about that ?

[2015-06-23 10:24] cubitouch opened #143 "Reload resources"
Hello,

It would be nice to be able to force the client to reload resources : Images, Javascripts, CSS

Should it be a new plugin or a new feature of an existent one? DOM Explorer?

[2015-06-23 15:24] deltakosh commented on #143
Totally agree! I think it could just be a button in the DOM Explorer

[2015-06-23 15:28] deltakosh commented on #142
This is definitely one of the idea we had in mind since the beginning. Having a plugin where on the dashboard side you can write code that could then be executed by the client side to to unit testing

[2015-06-23 16:19] meulta commented on #115
Yes ! We are about to release 0.0.15 and just after that I will give you a version to test :)

[2015-06-23 16:20] meulta commented on #138
I am pretty sure this was the case originaly.

@sebastieno ? :)

[2015-06-23 17:00] meulta commented on #138
Nevermind I fixed it ;)
Commit incoming

[2015-06-23 17:10] #138 closed

[2015-06-23 18:24] sebastieno commented on #138
Thanks @meulta (I was so busy today that I could not fix this bug) !
I will try to make a PR Thursday with a message indicating that Angular is not present.

[2015-06-23 18:43] cubitouch commented on #122
https://github.com/MicrosoftDX/Vorlonjs/pull/144

[2015-06-23 18:43] #122 closed

[2015-06-25 00:31] csuwildcat commented on #143
Just an idea: this could be a part of a new "Resource Inspector" plugin, given all the other kinds of resource-oriented features and views developers often use when developing an app/site.

[2015-06-25 07:46] cubitouch commented on #143
I agree. I talked about it in that issue, closed but could be improved, to open a resource from an error line number: https://github.com/MicrosoftDX/Vorlonjs/issues/119

[2015-06-25 07:50] cubitouch opened #145 "Resources Inspector plugin"
Create a plugin that can display/render/search into resources: JS files, CSS files, Images, ...
https://github.com/MicrosoftDX/Vorlonjs/issues/143#issuecomment-115054486

I think this plugin need to be "callable" from another plugin (Console or Network for example: click on a console entry would open the script/html file at the line that generated the entry, or click on the network call entry woul

[2015-06-25 07:52] cubitouch commented on #119
I think this could be reopened in order to add line numbers and resource file name ?

[2015-06-25 08:16] gleborgne commented on #119
I will re-check but we are logging the stack in the dashboard, it shows line numbers

[2015-06-25 10:20] cubitouch commented on #119
You mean "file" line number or "console" line number?
I cannot find [here](https://github.com/MicrosoftDX/Vorlonjs/blob/master/Plugins/Vorlon/plugins/interactiveConsole/vorlon.interactiveConsole.dashboard.ts) where the line numbers could be rendered...
Same in the client side TS file, I cannot see where the line number is gathered.

[2015-06-25 10:30] gleborgne commented on #119
The magic is client side here
window.addEventListener('error', () => {
240                 var err = arguments[0];
241
242                 if (err.error) {
243                     //this.addEntry({ messages: [err.error.message], type: "exception" });
244                     this.addEntry({ messages: [err.error.stack], type: "exception" });
245                 }
246             });

[2015-06-25 11:55] cubitouch commented on #119
My bad, I didn't saw it "in" the entry line :)

Do you think this is possible to put filename and line number right aligned, and have this information for console.log/error/...() also? Possibly using [this](http://stackoverflow.com/questions/9559725/extending-console-log-without-affecting-log-line) technique?

Something like this:
![image](https://cloud.githubusercontent.com/assets/7486151/8353709

[2015-06-25 11:59] gleborgne commented on #119
Everything is possible. It's more about focusing energy where it provides most value

[2015-06-25 12:04] cubitouch commented on #119
No problem, I will have a try later, probably after the Resource Inspector plugin release (then it will surely provides value) :)

Is it possible to reopen this issue then so it can be prioritized? (using Milestones?)

[2015-06-25 12:25] cubitouch commented on #142
I am thinking about something like this:
* Include the QUnit JS file on the client
* Drag-n-Drop unit test JS file on the Dashboard
* Transmit this code to the Client from the Dashboard
* Execute it on the Client
* Retrieve results on the Client using callbacks and send it back to the server
* Display a results table on the Dashboard

What do you think about that?
I thought about a directory to st

[2015-06-25 14:40] deltakosh commented on #142
I love this! I'm not for the directory but more for either filepicking/drag'n'dropping/manual typing

[2015-06-25 14:41] deltakosh commented on #119
Actually I would prefer creating a new one :)

[2015-06-25 14:41] #119 closed

[2015-06-25 14:42] deltakosh commented on #145
For me it is not a plugin but more a service provided by the platform (inside Core)

[2015-06-25 14:43] deltakosh commented on #143
We have an intern in our team working with @meulta that will work on this.

Agree for this being part of the resource Inspector. that's a great idea

[2015-06-25 14:50] cubitouch opened #146 "Console plugin - Line number and file resource handle"
Do you think it is possible in the Console plugin to put filename and line number right aligned, and have this information for console.log/error/...() also? Possibly using [this](http://stackoverflow.com/questions/9559725/extending-console-log-without-affecting-log-line) technique?

Something like this:
![image](https://cloud.githubusercontent.com/assets/7486151/8357183/d3e39462-1b59-11e5-84dc-582

[2015-06-25 14:52] cubitouch commented on #119
Done https://github.com/MicrosoftDX/Vorlonjs/issues/146

[2015-06-25 14:55] deltakosh commented on #119
Thanks!

[2015-06-25 20:49] gleborgne commented on #145
making xhr from dashboard to fetch resources will not work in many sites due to CORS policies. If you want to do that, fetching resources must be done from the node.js part

[2015-06-25 21:08] gleborgne opened #148 "object explorer enhancements"
Just logging here to get feedback about features I thought of in object explorer :
- add settings for choosing display preferences (show/hide prototype chain, show/hide properties starting with "_")
- add watches to properties
- add hooks to properties and functions (that adds logs, stacktrace, ...)

What do you think ?

[2015-06-25 21:41] colbin8r commented on #145
Does it make sense to integrate this functionality into the existing Resources Explorer plugin? Many of the popular web debugging tools have these two sets of functionality grouped together (i.e. cookies are grouped alongside JS and image assets in a Resource Explorer).

[2015-06-25 21:52] deltakosh commented on #145
Agree Colbin8r. Let's do this way then. We will then publish a protocol for other plugins to invoke a specific file within resource epxlorer

[2015-06-25 21:53] deltakosh commented on #148
Love all of these ideas :)

[2015-06-26 15:51] deltakosh commented on #131
This one is a good candidate for 3rd party plugins

[2015-06-26 15:51] #131 closed

[2015-06-26 15:57] pierlag commented on #132
Sorry, we decided with the team that this feature is not in the scope of vorlon as a first step. We want a minimum of external dependency. Thanks

[2015-06-26 15:57] #132 closed

[2015-06-26 15:59] deltakosh commented on #112
Hey DomExplorer is done. How do you want to find the most accurate selector?

[2015-06-26 16:00] deltakosh commented on #108
Up?

[2015-06-26 16:02] csuwildcat commented on #108
@gleborgne do you feel the project is in a state where I could swap out the code for tab/panel structure/behavior and not run into significant merge conflicts?

[2015-06-26 16:06] gleborgne commented on #108
I just refactored object explorer so it's probably the right time. We won't be very active in the next couple of weeks

[2015-06-26 16:07] deltakosh commented on #30
Hello we will have a similar feature in 0.0.16 :)

[2015-06-26 16:07] #30 closed

[2015-06-26 16:46] csuwildcat commented on #108
@gleborgne as I am jumping in the project to swap out the legacy tab/panel code and have noticed a few of the component styles are being clobbered for various reasons. For instance: it looks like when the onload treeView spinner was added to DOM Explorer, someone set the other elements to `display: none;`, and when load finishes, they set them to `display: block;`. The issue here is that the custo

[2015-06-26 17:09] csuwildcat commented on #108
@gleborgne I was able to restore the styles and implement the new ones in a bit cleaner ways. If I may offer one tip for the future: when you want to do something like hide/show of elements based on some condition in CSS (use of a class like `.active`), instead of setting overrides to initial states to `display: none;` then additional overrides for their active state, like `display: block;`, just

[2015-06-26 21:47] gleborgne commented on #108
I will definitely have a look once available 😊

[2015-06-27 10:09] cubitouch commented on #145
Yes, right, I tought it was a different tab in the Chrome's dev tools.

@gleborgne: I wasn't talking about "dashboard side" but more about "client side" (as I was wondering about populating the Network and XHR plugins, which are based on client side data). Would you recommend a particular technique to do so? I'm not sure what you are refereing as "node.js part".

[2015-06-27 10:58] gleborgne commented on #145
The network plugin is proxying xmlhttprequest. We could add a method in client base class that bypass the proxy. Issuing request from client would work. My mistake...
Vorlon has a server side node.js part. It's not just serving files, it's also using socket.io to pass messages between clients and dashboard. The node.js server can do more than that if we need to.

[2015-06-27 11:29] cubitouch commented on #145
I think you talk about the XHR Panel (not Network Monitor) plugin. The Network Monitor plugin is based upon `window.performance` object. I do not have here any proxy I can filter to avoid having these XHR calls logged.

I will think about a method to filter these results. Maybe not rendering XHR calls which are already logged under the XHR plugin?

[2015-06-28 16:52] PaGury commented on #112
Nice !

Traversing the parents and retrieving an "nth-child()" selector would do the trick no ?
For optimizations purposes, we could delete parts of the selector above any node with ID.

example :
The 3rd div has an ID : "my-div".

div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > span:nth-child(3)
After optimizations :
#my-div > span:nth-child(3)

What do you think about that ?

[2015-06-28 18:16] PaGury commented on #112
Something like this would be great : http://jsfiddle.net/pserkujg/

[2015-06-29 16:22] killroy42 opened #150 "Monitoring start-up logging"
Is there currently a way for the dashboard to show immediately once a client connects? I'd like to monitor logging that happens during the start up phase of my app, but I cannot monitor anything until I manually select the client in the Vorlon server dashboard. This also counts for page refreshing. It would be good if the server keeps a particular view open and survives client refreshes and page c

[2015-06-29 19:24] csuwildcat commented on #108
@gleborgne I'm still working on getting the new tabbox in (though it seems like a flexbox revamp of the layout may be an easier start), but I did commit modifications to the DOM Explorer that help maintain the flex layout and simplify the styles to take advantage of the way flex works. I have a pull here: https://github.com/MicrosoftDX/Vorlonjs/pull/151

The line with the alternate approach to hid

[2015-06-29 20:30] gleborgne commented on #108
Thanks, I Will check

[2015-06-30 06:39] marauderz opened #152 "NGInspector : Error if ng-app and ng-controller not applied to same element"
ngInspector is ok with code as such
[code]
But if the ng-app and ng-controller attributes are in different elements
[code]
Then on init an error occurs
[code]
It's specifically pointing to this line >>>>
[code]
Error occurs in Chrome and IE10, most recent commit of Git  aac3788555142215afde4a7861bf5d9bde7a9ecd

[2015-06-30 07:56] killroy42 opened #153 "Server-side recording"
Is there a simple (plugin-drive?) way to record logs from clients on the server? I would like to use it for a test team and be able to analyse data after a client failure.

[2015-06-30 07:59] killroy42 commented on #142
Additionally, this seems to be a great way to connect multiple, physical test devices at once and send tests to all of them at the same time to verify various target devices/platforms at once, without complex/unreliable visualization.

[2015-06-30 08:05] cubitouch commented on #142
Agreed I would be helpful, but since plugins are "client" related (IMHO) I am not sure that this will be in the first step.

I have heard that the Core Team are planning for [having a Redis](https://github.com/MicrosoftDX/Vorlonjs/issues/132) working with the Server to allow Data Analysis across clients.

[2015-06-30 08:08] killroy42 commented on #142
Or an API to connect the vorlon server to my own. Or run the vorlon server as a node module in-process with my server..

[2015-06-30 08:16] cubitouch commented on #142
This PR have been open about that: https://github.com/MicrosoftDX/Vorlonjs/issues/102

[2015-06-30 08:38] killroy42 commented on #102
+1

[2015-06-30 08:55] sebastieno commented on #152
Thanks @marauderz for the issue details. We work on it.

[2015-06-30 12:05] meulta commented on #153
Hello,

If by log you mean everything going in the console : the Interactive Console can get you the data live from a client.

Right now there is no correct way to record information and analyze it afterwards. We are working on this for the future release though ! :)

[2015-06-30 12:23] meulta commented on #150
Right now, refreshing or changing page is the same.
We keep a client id to reconnect the same but all info is dropped.

What scenario do you want to fill here? :)

[2015-07-01 01:06] raiscui opened #154 "console.log.apply will TypeError: Object.getPrototypeOf called on non-object"
when i use self log function like this:
`var logs = function() {
      console.log.apply(console,args);
    };`

vorlon will throw error:
`TypeError: Object.getPrototypeOf called on non-object
    at Function.getPrototypeOf (native)
    at InteractiveConsoleClient.inspect (http://debug.tweens.io:9988/vorlon.js/default:46:32)
    at InteractiveConsoleClient.getMessages (http://debug.tweens.io:9988/

[2015-07-01 16:32] colbin8r commented on #145
I'm having a difficult time finding ways to create a list of resources on the page. Here are the ideas that I've come up with:

1. Use `window.performance` to get a simple list. Contains no MIME information though.
2. Scrape/parse the DOM for `<script>`, `<style>`, and `<img>` tags as well as parse CSS for background assets. Difficult to do.

Then of course there is the problem of how to get the a

[2015-07-01 20:10] colbin8r commented on #154
Hi @raiscui, thanks for reporting this. What is the value of the `args` variable in your `logs` function? Often a `Object.getPrototypeOf` call will fail when called on a null value.

[2015-07-02 03:22] raiscui commented on #154
o , sorry~
args is
`var args = Array.prototype.slice.call(arguments);`

and `console.log.apply(console,arguments)` has same things happening

[2015-07-02 06:25] hbbbs opened #158 "Vorlonjs does not supported by IE8"
Help, please!
run in IE8, show error : Missing identifier

[2015-07-02 06:25] hbbbs commented on #158
ie8

[2015-07-02 06:58] cubitouch commented on #158
I'm not sure IE8 is or will be supported as some plugins use HTML5 new features.
@deltakosh: It would be great to have an official compatibility table (for users as much as for developers).

Could you be more specific about your exception anyway? Which line of which file is raising that error? Is it "dashboard" or "client" side?

[2015-07-02 07:10] cubitouch commented on #145
Interresting idea to use `window.performance` to gather a list of external assets.

For reloading CSS/JS/Images I think we can dynamically add a suffix to the url like `?reload=123456789`. I have no idea at the moment about CSS images...

[2015-07-02 07:12] hbbbs commented on #158
Thanks for your reply.

Error  in vorlon.max.js ,Line 218 ："FluentDOM.for" , Missing identifier

	FluentDOM.for = function (element) {
	    var res = new FluentDOM(null);
	    res.element = element;
	    return res;
	};

[2015-07-02 11:11] deltakosh commented on #158
pinging @gleborgne as he introduced this part. we will try to aupport ie8 even though ie9 is our lower bar

[2015-07-02 11:14] gleborgne commented on #158
this code is on the dashboard side. Do you confirm you got this error in the dashboard ? meanwhile, there is many HTML5 in the dashboard, the dashboard will not work in IE8 anyway.

[2015-07-02 15:03] deltakosh commented on #158
RIght I thought it was on the client side. Dashboard side is meant to be run on modern browsers only

[2015-07-02 16:49] hbbbs commented on #158
Error in vorlon.max.js

[2015-07-02 16:51] deltakosh commented on #158
But not on the Dashboard right??

[2015-07-02 17:19] deltakosh commented on #112
Sounds like a good plan:) let's go then!

[2015-07-02 17:21] hbbbs commented on #158
not on  Dashboard , on IE console

[2015-07-02 17:23] cubitouch commented on #158
I think he mean: On the IE console on the web page you are debugging, or on the IE console on the Vorlon dashboard?

[2015-07-02 17:23] hbbbs commented on #158
On the IE console on the web page you are debugging

[2015-07-02 17:27] hbbbs commented on #158
The page on the Chrome, Dashboard can  find  the page.
The page on the IE8, Dashboard can not find it, because the page has the error, IE console can find the error upon

[2015-07-02 17:38] hbbbs commented on #158
on the client side

[2015-07-03 08:25] meulta commented on #158
Hello hbbbs,

We will need to have more information about this to be able to understand the problem.
It would be really helpful if you could send us a sample which reproduce the problem

Can you do that?

Thanks a lot

[2015-07-03 08:44] meulta commented on #152
Any news on that @sebastieno  ? :)

[2015-07-03 15:42] hbbbs commented on #158
I'm glad to do it.

This is  my test page.
[code]
![image](https://cloud.githubusercontent.com/assets/4979976/8501909/b1f9c0fe-21dc-11e5-9a75-8bf4c58d0192.png)

![image](https://cloud.githubusercontent.com/assets/4979976/8501921/cd532a98-21dc-11e5-85c1-1008db9b4f31.png)

![image](https://cloud.githubusercontent.com/assets/4979976/8501943/039f8d08-21dd-11e5-994a-c7617c923f32.png)

[2015-07-03 16:05] hbbbs commented on #158
I guess the reason may be the keyword conflict。

"FluentDOM.for = function (element){....}"

"for" is javascript reserved word.

[2015-07-03 16:38] hbbbs commented on #158
I change "FluentDOM.for" to "FluentDOM.for_new", that error does not appear。

But we have the new problem:
IE8 gives me this error: Object doesn't support this action on line 331.

![image](https://cloud.githubusercontent.com/assets/4979976/8502530/db5251bc-21e3-11e5-81b4-fff737e9defe.png)

"Object.defineProperty",the built-in IE8 method only works when applied to DOM objects。
I import es5-shim ,b

[2015-07-04 16:41] meulta commented on #158
I am going to have a look

[2015-07-04 16:46] meulta commented on #150
Anymore information here @killroy42 ?
Thanks

[2015-07-04 17:02] killroy42 commented on #150
For me, once I click a link and the browser navigates to a new page, the vorlon console display stops, and I have to re-select the client from the menu on the left.

[2015-07-07 15:59] colbin8r commented on #145
Perhaps the issue of reloading CSS images will have to be a later feature.

There are many ways to do cachebusting like you mentioned. However, even if we can re-fetch the updated JavaScript, it may not execute in the correct scope which may lead to unexpected errors. This may simply be a limitation that we can't get around unless we use a reload style similar to livereload.

[2015-07-11 20:39] Carlos487 opened #163 "Vorlon.JS not working on Android 2.3 and 4.0"
First I want to thank this team for this awesome tool.

This case was tested with a Cordova Application.

But, sadly it isn't working on Android 2.3 Gingerbread. I tested on a Galaxy Ace and when I was checking the adb logcat (android debug bridge), it shows the following error

[code]

In the Android 4.0.3 emulator, the client briefly appears on the vorlon.js console but the app crashed while it

[2015-07-12 17:55] sebastieno commented on #152
Sorry for the delay (holidays without computer :P).
@PaGury, did you PR the fix ?

[2015-07-12 20:38] #142 closed

[2015-07-15 08:52] meulta commented on #163
Hey,

Thanks for your feedback :)

I am pretty sure it cannot work on Android 2.1. For 4.0.3, I will see if wee can have a look.

[2015-07-15 09:17] meulta commented on #152
Hey, no worries.
I think he did not :)

[2015-07-15 14:12] eternalsky commented on #102
+1 it's great if vorlon can work with gulp

[2015-07-15 15:18] Carlos487 commented on #163
Thanks @meulta but only for curiosity, what is the technical limitation that prevents vorlon.js to be used on Android 2.3 Gingerbread or older browsers?

[2015-07-16 00:12] torreslucas13 opened #164 "Computed Styles"
Hello Guys,

What exactly is shown in " Computed Styles " tab ?

[2015-07-16 11:24] meulta commented on #163
Not sure why, it need to support socket.io for instance :)

[2015-07-16 11:25] meulta commented on #164
Hello,

It is the styles that are really applied to the dom element, not only the ones explicitly defined in the CSS file.

[2015-07-16 11:26] meulta commented on #158
Sorry for the delay, we are in a vacation period here ;)
Do you by any chance have more info to share?

[2015-07-17 08:42] gerdy opened #165 "Can virlonjs support wild-card dns?"
the port 80 of my server is used by apache,can it support wild-card dns?then,I can use 80 for vorlon also.

[2015-07-17 09:25] tifab opened #166 "Set breakpoints"
It would be great if we could debug the javascript code by setting breakpoints.

Don't know if it's feasible.

[2015-07-17 13:57] matthiasg opened #167 "website should be more clear"
saying that vorlon helps debugging is overpromising a little i think. especially since the main panels focus is just the DOM tree and javascript it not supported.

keep up the work but i would refrain from bold statements such as debugging when it implies javascript debugging across machines (which would be awesome!)...

[2015-07-17 14:17] cubitouch commented on #167
What do you mean by "javascript it not supported"?
Using the Console plugin at bottom of the screen, you should be able to run scripts from the dashboard.
There are several plugins to help you debug multiple aspects of your web application : http://vorlonjs.com/plugins/

[2015-07-17 15:05] meulta commented on #167
Hello,

Thanks for your feedback ! :)

If you talk about REAL TIME javascript debugging, this is not supported yet as there are no standards to do it correctly.
Our main focus is to delivered features working for all modern browsers :)

[2015-07-17 15:05] #167 closed

[2015-07-17 15:05] meulta commented on #166
Hello ! :)

If you talk about REAL TIME javascript debugging, this is not supported yet as there are no standards to do it correctly.
Our main focus is to delivered features working for all modern browsers :)

[2015-07-17 15:05] #166 closed

[2015-07-17 15:06] meulta commented on #165
pulling @pierlag

[2015-07-17 17:35] matthiasg commented on #167
@meulta thanks for the response. I had hoped vorlonjs would go for the webdriver debugger way since I had one read ie11 sorting webdriver (not quite what I would have wanted of course) or establish a bridge to connect to multiple browsers and try to go for a standard later .. Something that would improve the state of art

Btw I do not accept console.log as a debugging method :) though I am known t

[2015-07-17 21:08] matthieuklotz opened #168 "Allow to pass the configuration file (config.json) as parameter of vorlon"
In the context of a docker container, it could be useful to pass the path to the configuration file (conf.json) to vorlon when vorlon is exectuded by nodejs CLI. Something like :
vorlon -f <path>/config.json
This will allow to configure vorlon (like enable or disable a plugin) without regenerate an image.

[2015-07-17 21:30] matthieuklotz opened #169 "Allow to change the path of log files"
Currently, the log files are stored in. /Server.
It might be useful to be able to specify the path and the format of the log file name. An example : in the configuration file : logpath : "/logs/vorlon-{process id}-{day}.log"

[2015-07-17 21:41] pierlag commented on #169
yes good idea ! you can implement it on dev branch ?

[2015-07-17 22:08] matthieuklotz commented on #169
Hi,
If you agree, I can do that in two steps (i.e : two releases) :
- the first one, I will introduce the choice of the log path and verbosity (DEBUG, INFO, etc...)
- In a second step, I can do the log file name format. I'm more a C# developer than a javascript one, so I need to do a some research before doing it with the more extensible and the best way .

[2015-07-20 07:16] meulta commented on #169
Go :)

[2015-07-20 07:44] meulta commented on #168
Hello,

Not sure I see the advantage here, can you give us a use case? :)

Thanks,

[2015-07-20 07:45] meulta commented on #164
I close this, tell me if you have any more questions.

[2015-07-20 07:45] #164 closed

[2015-07-20 07:47] meulta commented on #163
@colbin8r  any news? :)

[2015-07-20 07:52] meulta commented on #154
Hey @raiscui

Sorry for the delay, we are on a vacation here :)

I am not able to reproduce your issue. Can you give me a full sample ?
Where and when does your code run when generating this error?

Thanks

[2015-07-20 07:53] meulta commented on #152
@PaGury @sebastieno any news?
Thanks guys

[2015-07-20 20:24] meulta commented on #169
Well done

[2015-07-20 20:24] #169 closed

[2015-07-21 10:19] hbbbs commented on #158
：）
in a vacation.. envy you...

[2015-07-21 15:06] reikz opened #171 "Deploy to azure with SSL"
Hi,

Im trying to create a vorlonjs server on azure. Im using deploy to azure feature on this page.
On localhost its running fine with npm installation, but on azure i cant make it work with SSL. I can acess the vorlon server url with both http/https.

If i set the include script of vorlon on my application, which is served via https, i get the following error.

Mixed Content: The page at 'url her

[2015-07-21 17:44] leosuncin commented on #168
Change default port number, when is conflicted with another app

[2015-07-21 21:51] matthieuklotz commented on #168
First case :
Imagine any environment where we have two different app, one with angular js, one without it. We may want to create two docker container based on the same code (for exemple 0.0.15) but one will disable ng-inspector extension but not the other. With the possibility to pass the configuration file as parameter, it is possible. Without that, we should create a new docker image for each ca

[2015-07-21 22:08] matthieuklotz commented on #168
In my fork of the dev branch, I have started a proof of concept of this feature (i wanted to play with docker :) ). So I can take the development in charge.

[2015-07-22 08:41] cubitouch opened #172 "Client side error - Device Plugin"
When I start client side part (on http://stackoverflow.com/ for that matter), I get a JS error:
`Uncaught TypeError: Cannot read property 'outerHTML' of null`

![image](https://cloud.githubusercontent.com/assets/7486151/8821403/a4bed598-305d-11e5-959e-ea51f0fdbf0a.png)

I just refreshed my VorlonJS directory from the dev-0.0.16 branch.

I think this happen because the viewport meta tag is not pres

[2015-07-22 09:06] sompylasar commented on #158
In ES3, the keywords cannot be used as property names, except if they are in brackets and quotes: `obj.for` will give an error, `obj['for']` won't.

[2015-07-22 15:37] kanoshin commented on #171
+1

[2015-07-23 07:25] pierlag commented on #171
On azure nothing to do. Just used button "Deploy Azure" in Readme and after juste change http to https

[2015-07-23 07:25] #171 closed

[2015-07-23 09:08] meulta commented on #172
Yep thank,
will fix it right away :)

[2015-07-23 09:26] meulta commented on #172
Should be good

[2015-07-23 09:26] #172 closed

[2015-07-26 10:32] nicon-dev opened #173 "some issues with Ionic app / general"
I was pretty excited to try Vorlon.js to help me debug real devices.
But when I run it I get some errors without doing a lot.

First:
After install, when I run "vorlon" to start the server I get:

[code]

Then I added
[code]
to the very top of my index.html file, before any other js file get loaded. Is that correct?

Then I run the Ionic webserver with
[code]
Then I get some modernizr warnings, bu

[2015-07-26 20:06] meulta commented on #173
Hello,

thanks for trying out Vorlon and giving us your feedbacks so we can make it better ! :)

- The deprecated error is temporary, we are working on the authentication part, should be fixed in 0.0.16. It is already fixed in the latest version on the development-0.0.16 branch
- The TypeError should not happen. What are you calling the Dev Console here? Where do you see this error exaclty, on the

[2015-07-26 20:08] meulta commented on #168
If you can do it without impacting the default usage and behavior where users don't have to specify the config.json, let's go ! :)

[2015-07-26 20:20] nicon-dev commented on #173
Hi!
thanks for the fast response!
I see this error with the Chrome Dev Tools (Chrome Version 44.0.2403.89 (64-bit))

![image](https://cloud.githubusercontent.com/assets/1035435/8895731/637e65f0-33e4-11e5-9d2f-1f26d41d6d90.png)

System: OSX Yosemite 10.10.4

[2015-07-26 21:05] meulta commented on #173
Wow, okay :)

And you still get data on the dashboard coming from the client?

[2015-07-26 21:11] meulta commented on #154
@raiscui can you provide us more info ? :)
Thanks

[2015-07-27 16:56] meulta commented on #152
Fix is on its way by @PaGury :)

[2015-07-27 22:27] matthieuklotz commented on #168
Today I have found an another way to do it with docker by using a shell script that will replace the config file.
A little bit more complicated for building the docker image, but without any code modification on VorlonJS. So in my case, this issue is no longer usefull. (I will update the current docker image during this week).
If no other people need this use case, I think that we can close the is

[2015-07-28 08:14] cubitouch commented on #168
I think it would be very useful for people not using Docker and to help the "ready for production" part of the project.

[2015-07-28 17:27] meulta commented on #168
OK then if someone needs this, we will repon it :) thanks

[2015-07-28 17:27] #168 closed

[2015-07-28 20:48] meulta commented on #154
@raiscui I close this issue as I have no news from you and are not able to reproduce.
Feel free to open again if you can send us more info ! :)

Thanks

[2015-07-28 20:48] #154 closed

[2015-07-29 14:02] kud opened #174 "Bug when I expand an object in console"
`vorlon@0.0.15`

[code]

[2015-07-29 14:04] kud opened #175 "vorlon --version"
It could be great to return the version of vorlon when `$ vorlon --version`, what do you think?

[2015-07-29 14:05] cubitouch commented on #175
+1

[2015-07-29 15:41] kud opened #176 "Does not work with Samsung Galaxy Tab 4 10.1 on Default Browser"
[code]

[2015-07-29 18:47] naresh217 opened #177 "Unable to connect remotely from other devices + Vorlon"
Vorlon dashboard is not showing all connected devices. I have desktop and installed a Vorlon, I am using localhost of this desktop from laptop or ipad its displays webpage but it is not showing devices in vorlon, but it show if i open from the same desktop.

[2015-07-30 09:39] timdp commented on #171
I tried this and the WebSocket still attempted to connect over regular HTTP.

[2015-07-30 12:45] reikz commented on #171
I did everything they recommend. Had to stop using vorlon because of this. Sadly.

[2015-07-30 12:49] kanoshin commented on #171
You can use dedicated server to setup vorlon with SSL. This worked for me.

[2015-07-30 13:01] timdp commented on #171
I'm now trying to deploy to Elastic Beanstalk. Worked fine, but I ran into the same issue. As a workaround, I thought I'd replace `"http"` with `"https"` in `vorlon.httpconfig.ts`, but there must be a better way.

[2015-07-30 22:32] matthieuklotz opened #178 "Dashboard "welcome page" always display localhost:1337 as hostname for referencing vorlonjs javascript"
Hi,

The Uri 'http://localhost:1337/vorlon.js' is currently hard coded in the view "dashbord-plugins".
It could be usefull to display the real hostname in the URI, based on the machine name, or to enable setting the hostname by configuration (in case of an azure website or a docker container).

[2015-07-31 16:04] naresh217 commented on #177
I have tried opening your sample page http://cdn.rawgit.com/MicrosoftDX/Vorlonjs/master/Plugins/samples/index.html

It is showing in Client list if I open above url where vorlon server is running.
If I run above url from different computer or mobile it is not working

[2015-08-01 21:46] meulta commented on #175
Yep :)

[2015-08-01 21:48] meulta commented on #177
Are you trying to reach the server using localhost ? Cause that obviously will not work :)

[2015-08-03 15:20] naresh217 commented on #177
Nope. I have tried both using IP address and system name.

[2015-08-03 16:07] naresh217 commented on #177
My bad. Had wrong port number in other machine. It is working now.
And can we access styles for Native app developed using HTML5 and CSS3 ?

[2015-08-03 16:41] meulta commented on #177
Yep, that works :-)

[2015-08-03 16:41] #177 closed

[2015-08-03 19:09] naresh217 commented on #177
From the documentation i can see this will support for only web browsers. This is excellent so far.
If we have an option to debug native apps would be great.

Thanks

[2015-08-05 10:04] ghoullier opened #179 "Can install VorlonJS due to logger dependency"
Hi!

There as undefined dependency in [package.json](https://github.com/MicrosoftDX/Vorlonjs/blob/master/package.json#L16)
https://www.npmjs.com/package/logger return a 404

It seems the dependency has been deleted.

[2015-08-05 11:21] meulta commented on #179
Hello,

It works on my side. Sometimes npm repos goes down for a few minutes.
Can you try back please?

[2015-08-05 11:28] meulta commented on #178
Hello,

Actually, it is "hardcoded" in the view but changed dynamically using the url used to access the dashboard.

Do you still think we need to change something?

[2015-08-05 11:29] meulta commented on #174
Hey kud,

Thanks for the feedback (sorry for the delay we are almost all in vacations ;))

Can you give us a full sample which reproduce the issue ?

Thanks

[2015-08-05 13:35] ghoullier commented on #179
Have you tried to remove your node_modules folder and relaunch npm install?

[2015-08-05 21:01] deltakosh commented on #115
Hey guys! some news on this front?

[2015-08-05 21:01] deltakosh commented on #145
Hey guys some news here?

[2015-08-05 21:02] deltakosh commented on #152
Hello, is it ok on your side @PaGury ?

[2015-08-05 21:25] #175 closed

[2015-08-05 21:27] kud commented on #174
I will try, yes. :)

[2015-08-05 21:49] #176 closed

[2015-08-05 21:49] #178 closed

[2015-08-05 21:52] deltakosh commented on #163
@csuwildcat can you have a look at this one?

[2015-08-05 21:53] deltakosh commented on #143
@colbin8r some progress here?

[2015-08-05 22:10] csuwildcat commented on #163
Yep, I'll take a look.
On Aug 5, 2015 2:52 PM, "David Catuhe" <notifications@github.com> wrote:

[2015-08-06 09:14] ghoullier commented on #179
I still reproduced the problem on my side, https://www.npmjs.com/package/logger seems no longer defined.

[2015-08-06 10:12] sebastieno commented on #152
Sorry for the delay. I just created a PR with @PaGury fix.

[2015-08-06 15:17] #152 closed

[2015-08-06 15:28] meulta commented on #158
Thx @sompylasar

[2015-08-06 15:28] #158 closed

[2015-08-06 15:29] meulta commented on #115
got a bit delayed, next task for me after authentication ;)

[2015-08-06 15:37] #179 closed

[2015-08-06 15:37] #173 closed

[2015-08-06 15:43] deltakosh commented on #165
What do you mean by wild-card dns? like starting vorlon on 0.0.0.0:1337?

[2015-08-06 15:45] deltakosh commented on #153
Hello this is out of the scope of Vorlon.js so far but this is a great idea. Closing for now.

[2015-08-06 15:45] #153 closed

[2015-08-06 15:50] deltakosh commented on #148
GOOOOOOOOOOOO!

[2015-08-06 15:53] deltakosh commented on #108
Hey @csuwildcat some news here?

[2015-08-06 15:54] #45 closed

[2015-08-06 16:01] csuwildcat commented on #108
I attempted to do this a while back and I got about 2 days into it before
finding myself in the weeds. The tabbox component itself is simple, but
there was a ton of code and styles bound to the exact, current DOM
implementation, so I started to question the value of it. I can give it
another shot if you think it's important to make the switch.
On Aug 6, 2015 8:53 AM, "David Catuhe" <notifications@

[2015-08-06 17:20] deltakosh commented on #108
I get your point. Let's close it then :)

[2015-08-06 17:20] #108 closed

[2015-08-07 08:03] kanoshin opened #181 "IOS unable to work"
Have you got any known issues connecting vorlon to Chrome/Safari on IOS?

Vorlon script successfully loads (from https with valid cert), but then communication fails:
![2015-08-07 12-59-16](https://cloud.githubusercontent.com/assets/11817360/9131362/35425ca4-3d04-11e5-8db2-352894f51c5b.png)
![2015-08-07 12-58-54](https://cloud.githubusercontent.com/assets/11817360/9131363/3545eb4e-3d04-11e5-9a5b-8

[2015-08-07 10:10] kanoshin commented on #181
Somehow it works when I use http locally. But i can't use http on production site.

[2015-08-07 11:58] stein189 opened #182 "Chrome page freezes with huge SPA"
We are using a huge single page application which includes several Javascript libraries such as Backbone, jQuery, Marionette, Underscore and some others.

When I attempt to load the client from the Vorlon dashboard the clients webpage freezes for a couple of minutes before I am able to see the data.

This problem only occurs in Chrome, in Firefox it works like a charm.
I tested it in Chrome V40, V

[2015-08-07 13:58] deltakosh commented on #181
Can you try with xhr plugin turned off?

[2015-08-07 13:59] deltakosh commented on #181
Pulling @gleborgne in as I think he is the only one in the team to have an iPad:)

[2015-08-07 14:00] deltakosh commented on #182
Do you have by chance a way to share a sample client page?

[2015-08-07 14:01] gleborgne commented on #181
at work but not at home :p

[2015-08-07 15:43] stein189 commented on #182
I am not able to share the source and its not online yet but I will try to reproduce it with similar libraries.

[2015-08-07 16:14] deltakosh commented on #182
Thank you so much!

[2015-08-07 18:04] csuwildcat commented on #163
@deltakosh @Carlos487 ran the test page on emulators for Android 4.3 and 5 today, both had socket errors for certain operations, but I can't be sure that it's not the emulator and some proxy or setup they have in place, because many things still work. I realize those aren't the versions you were having trouble with, but they were the ones available on the free emulator.

I'm now going to install A

[2015-08-10 21:42] deltakosh commented on #163
Thanks!

[2015-08-10 22:43] csuwildcat commented on #163
@deltakosh @Carlos487 OK, I have a shell Android project running that I'm now testing with. I have confirmed there is no issue on the default build of Android that runs in Android Studio, but that's not the versions specified here. I am going to try to run the versions you cited, and I will report back when I get them setup and tested.

[2015-08-11 08:19] stein189 commented on #182
I couldnt reproduce the problem with a new project as it has to do with the DOM and it takes alot of work to reproduce it, however I managed to put the vorlon dashboard on my server but I don't know if it is usefull for you to look at.

[2015-08-11 08:34] sjoerd222888 opened #183 "Feature request: inspect elements directly from webpage"
With the Chrome Dev tools you can right click on an element in the browser and select "Inspect Element".

Something similar for vorlon.js would be nice. Though it might be not straight forward to implement this. Create a custom context menu is not always possible and it does also not work on mobile/touch devices. Maybe a special mode can be toggled (in the vorlon.js gui) such that gui elements can

[2015-08-11 15:05] deltakosh commented on #183
I think this is a good idea but we still need to figure out details. I mark this one as "future version" as we are closing the current 0.0.16

[2015-08-12 07:46] stein189 commented on #182
When we ran Vorlon on the test server in prod environment it works well in chrome, instead of waiting a couple minutes it just takes a couple of seconds.

So my conclusion is that if there is a lot data its a little slowly in chrome, but I think that problem has more to do with chrome then Vorlon.

Anyway thank you for your time!

[2015-08-12 07:46] #182 closed

[2015-08-12 21:23] csuwildcat commented on #163
@deltakosh @Carlos487 I got emulators up and running for both Android 4 and Android 2.3. Here's the result:

- Android 4: Vorlon test page loaded enough to be registered in the dashboard, but crashed browser when load was just about complete. I was able to repeat this without fail.

- Android 2.3: Vorlon test page would not load fully, and never registers as an instance on the dashboard. The brows

[2015-08-12 21:26] gleborgne commented on #163
deltakosh has powered Vorlon with Babylon.js overnight ? 😊

[2015-08-12 21:28] csuwildcat commented on #163
@gleborgne I was thinking maybe one of the plugins was testing for the presence of something? Maybe Modernizer?

[2015-08-12 22:03] csuwildcat commented on #163
@deltakosh @gleborgne wow, I think it might actually be the Modernizer plugin. I pulled it out of the config so it doesn't load that plugin, then ran the page in the Android 4 emulator, and it no longer crashes the browser. The page loading indicator still never stops to show its done, but that may just be the traffic back and forth between the page and the dashboard.

@Carlos487 can you test Andr

[2015-08-13 02:47] Carlos487 commented on #163
@csuwildcat Ok I would try that, but can you give me some pointers on how to deactivate the modernizr plugin. Also I would like to ask if any of the fallbacks that socket.io provides could be used to make it work with Android 2.3 devices, at least at a basic level.

[2015-08-13 09:27] meulta commented on #163
Hello @carlos487,

You can deactivate it using the config.json file locate in the Server folder.

If you install via npm, this should be in the vorlon folder in nodes_modules.

[2015-08-13 14:46] Carlos487 commented on #163
Thanks @meulta, @csuwildcat  I have tried disabling the modernizer plugin, and using vorlon.js with my cordova/application. Indeed it doesn´t crash when starting in Android 4.0.3, the device is shown is the side bar, but when trying to inspect the device, some messages were shown on the Vorlon console and the application crashes after 20-30 seconds, specially when the DOM explorer was used.

    E

[2015-08-13 16:05] csuwildcat commented on #163
I saw the DOM Explorer going slowly on my end, but not crash. Since it
threw a connection error related to CSP it may be a Cordova config that
needs setting to allow the connection. It may be crashing as a result of
the network connection hanging on CSP.

On Thursday, August 13, 2015, Carlos <notifications@github.com> wrote:

[2015-08-14 19:34] Carlos487 commented on #163
@csuwildcat @deltakosh  I'm currently creating a Cordova Test App in [https://github.com/Carlos487/VorlonJS-Cordova-Test-App](https://github.com/Carlos487/VorlonJS-Cordova-Test-App) with the contents from Vorlon Test Page, I hope it will be completed during weekend so we can test those scenarios.

[2015-08-24 16:19] Carlos487 commented on #163
@csuwildcat @deltakosh The [app](https://github.com/Carlos487/VorlonJS-Cordova-Test-Ap) can be tested now, you need to change the URL to the vorlon script on the file

to build you need to run **cordova build android** and to deploy to a device use  **cordova run android** on the project root folder.

The app keep crashing on start with the messages

[code]

It happens when using the file vorlon.j

[2015-08-25 07:20] n9ti opened #185 "Manual start vorlon client in Doc is incorrect"
Need to change from
[code]
to
[code]

[2015-09-01 11:26] meulta commented on #185
Exactly ! Thanks for this I will correct it right away

[2015-09-01 11:26] #185 closed

[2015-09-01 14:06] meulta commented on #185
http://www.vorlonjs.io/documentation/#vorlonjs-client-advanced-topics done

[2015-09-01 14:20] meulta commented on #181
Hey @gleborgne did you manage to test This ?

[2015-09-01 15:13] meulta commented on #181
Pulling @alexfrih

[2015-09-01 15:14] deltakosh commented on #183
After discussing with the team, it appears that it is a feature we do not want to implement as we do not want to be too intrusive in the client UI :(

[2015-09-01 15:14] #183 closed

[2015-09-01 15:15] meulta commented on #115
@alexfrih is working on it right now :)

[2015-09-01 15:16] deltakosh commented on #174
Hello some news here?

[2015-09-01 15:19] meulta commented on #165
Any info @gerdy ?

[2015-09-01 15:20] kud commented on #174
Close it if you want. I'm not currently working on the stack which has a problem with vorlon. I'll open it if needed. ;)

[2015-09-01 15:20] deltakosh commented on #163
Up?

[2015-09-01 15:23] deltakosh commented on #148
Up?

[2015-09-01 15:28] #145 closed

[2015-09-01 15:31] kanoshin commented on #181
Hi, it seems vorlon works stable after I disabled xhr plugin.

[2015-09-01 15:31] deltakosh commented on #174
Ok keep us posted :)

[2015-09-01 15:31] #174 closed

[2015-09-01 15:41] deltakosh commented on #181
Interesting :)

[2015-09-01 15:52] gleborgne commented on #148
Still on track but you could postpone if you want to publish a new version soon

[2015-09-01 16:44] gleborgne commented on #148
not really, depends on how much spare time I could save

[2015-09-01 16:45] deltakosh commented on #148
Ok so to be safe, I'm moving it to 0.1.0

[2015-09-02 09:06] n9ti commented on #185
Thank!

[2015-09-02 20:28] pebanfield opened #186 "How to Remote Debug a client build?"
Hi - I've poured over the documentation and have not found how to configure vorlon to work with a remote client build. The documentation instructs adding the following script tag to the client build;

```<script src="http://localhost:1337/vorlon.js"></script>```

This works fine when the client build is hosted on my development machine. So far so good. However, when I try to change the host to poi

[2015-09-02 22:01] sjoerd222888 commented on #183
Hmm....
At least it would be interesting to have the possibility to be intrusive if I want it. So if I want to debug my application and can choose to do it with vorlon. It is not the general case but very specefic for this debuging session. What would be nice would be to have an API that I can use so that I could call from my javascript code to call vorlon such that this element is the also select

[2015-09-02 22:28] pebanfield commented on #186
Ok so I noticed that the vorlon client script queries the window.location.host to derive the host so that makes sense now. Otherwise, I might just be partly not fully understanding the sockets design. My current guess is that the websockets implementation expects to be running on the same host. Perhaps this is configurable or perhaps this limitation is by design for security reasons?

[2015-09-02 22:47] deltakosh commented on #186
Hey!

Client and server can be on different computers as long as the client can reach the server.

once deployed, you just need your server url and then use it as script source in your client like you mentioned before ( <script src="http://my.local.dev.server:1337/vorlon.js"></script> )

The only constraint here is to make sure that the client can reach the server (check firewall and so on)

[2015-09-02 22:48] deltakosh commented on #183
Definitely a good idea..do you mind opening a new issue?

[2015-09-02 23:00] gleborgne commented on #183
One thing I have in mind is to have a picker within Dom explorer like what you have in dev Tools (click on the pick button and then in your ui to select an element). Would that suit your needs ?

[2015-09-02 23:07] pebanfield commented on #186
I've tried various configurations, but I'm still unable to achieve this. I think the problem may be due to security restrictions on the device.

[2015-09-02 23:30] deltakosh commented on #186
Arg :( I assume you do not see any connection in your dashboard then?

[2015-09-03 12:22] TheFrenchieCake opened #187 "Developping plugins accross multiple files"
Hello, VorlonJS team,

I'm currently working on a plugin for VorlonJS, and as my development goes on, the number of classes/subclasses and therefore the amount of lines in the vorlon.myPlugin.dashboard.ts and vorlon.myPlugin.client.ts lines becomes too big to handle easily. I tried to split my classes into several files, as so:

- vorlon.myPlugin.interfaces.ts
- vorlon.myPlugin.dashboard.ts
- vorl

[2015-09-03 13:36] gleborgne commented on #187
Vorlon expect the plugin to be one file for client and one for Dashboard. You should use gulp to bundle your files into one single javascript file for each

[2015-09-03 14:02] TheFrenchieCake commented on #187
That's what I feared... Well, 'guess a nice addition to VorlonJS would be some script + documentation to compile plugins developped accross multiple files into single-page script for client and dashboard ;-) I'll surely work on this ASAP, in order to be able to work on my Vorlon plugin again ;-)

[2015-09-03 15:15] deltakosh commented on #187
You can easily copy/paste code from gulpfile.js to merge your files. it is a matter of less than 10 lines of code:)

[2015-09-03 15:41] pebanfield commented on #186
So I did finally manage to get it working. It was related to cross domain restrictions on the device. My solution was to use a client direct to load my hosted site where vorlon was running on another port. I'm not sure if this is a requirement or just specific to my set up. I'm running a dns proxy, etc.

Unfortunately, I'm now running into perf issues on the device. Thanks for the help though.

[2015-09-03 15:41] #186 closed

[2015-09-03 15:49] deltakosh commented on #186
Please keep us posted of any progress

[2015-09-03 15:56] pebanfield opened #188 "Vorlon Perf Requirements?"
Hi - My smart tv app is crashing when I run it with vorlon. It appears that the embedded webkit browser is simply running out of memory. My guess is that all the dom inspection going on is just too much overhead. Is there a way to turn off some of the features to confirm this? Thanks.

Peter

[2015-09-03 16:02] deltakosh commented on #188
Sure there is :) just go to https://github.com/MicrosoftDX/Vorlonjs/blob/master/Server/config.json and disable what you don't need

[2015-09-03 16:07] pebanfield commented on #188
Hay cool thanks. I will try that.

[2015-09-03 16:07] #188 closed

[2015-09-04 07:45] mh-nichts opened #189 "Question : How to use Vorlon on an "online" page ?"
First of all, thanks for the work !

I'm sorry if my question might sound a bit stupid, but from what I understand, I can only use Vorlon to debug a local website (with a local dashboard) ?
It seems logical to me that an online website can't have access to my localhost, so how can I use it in this context ?

I would say that I have to install the Vorlon script and dashboard on the website server :

[2015-09-04 13:40] meulta commented on #90
Done on the dev branch :)

[2015-09-04 13:40] #90 closed

[2015-09-04 14:58] deltakosh commented on #189
Hello:)
You can deploy the server to any azure subscription by using the deploy to Azure button that you can find in the readme.md

But if you have any web server which can handle node.js, just deploy the /Server folder and run node on server.js

From your client page, you just have to reference http://myserver.com:1337/vorlon.js and you're done :)

[2015-09-04 15:10] sjoerd222888 opened #190 "Feature request: Provide API to trigger selection of HTML elements in vorlon"
Provide an API function where I can trigger selection of elements in the vorlon DOM tree. So that I could create my own debug tools where I can build a feature like right-click/inspect or ctrl-mouse click or whatever I want but the tool can then call a vorlon API function that triggers the selection.

the idea originates from this other issue.:https://github.com/MicrosoftDX/Vorlonjs/issues/183

Th

[2015-09-04 15:10] sjoerd222888 commented on #183
Created a new issue: https://github.com/MicrosoftDX/Vorlonjs/issues/190

so lets continue the discussion there.

[2015-09-04 15:14] mh-nichts commented on #189
Thank you for the quick answer !
I will see what I can do with these 2 possibilities.

[2015-09-05 07:46] meulta commented on #190
Hello,

We need to talk a bit about this :)

[2015-09-05 07:47] meulta commented on #189
Did you manage do what you want ? :)

[2015-09-05 07:49] meulta commented on #181
@alexfrih will work on this starting next week :)

[2015-09-05 07:50] meulta commented on #165
Closing this one for now, do not hesitate to open it again with more info @gerdy

[2015-09-05 07:50] #165 closed

[2015-09-05 07:52] meulta commented on #115
Any updates  @alexfrih ?

[2015-09-07 09:06] meulta commented on #189
I am closing this for now, do not hesitate to open it again if needed ! :)

[2015-09-07 09:06] #189 closed

[2015-09-07 09:40] alexfrih commented on #115
I think i'm ready for some tests with @meulta and @mauron85 !

[2015-09-07 12:08] TheFrenchieCake commented on #187
I've banged my head against the walls and gulp for three days straight, and the gulp compilation, even with pre-bundle work of the different files, doesn't work. It may be my fault, may be not, but in every case I couldn't advance further on my plugin. So, I had no choice but to come back to a single-file format for my dashboard and client files.

There is an other problem, now, though. I implemen

[2015-09-07 12:40] mauron85 commented on #115
@alexfrih just let know where I can access code (branch name, commit number ...).

[2015-09-07 12:55] alexfrih commented on #115
Ok so you can clone this repository :

https://github.com/MicrosoftDX/Vorlonjs/tree/urlprefixes

After, in /Server/config.json at this line :

`"baseURL": "",`

put your subdirectory name or leave it blank (it's depend) :

`"baseURL": "/subdirectory",`

and my conf for nginx :

[code]

And then send me your feedback !

[2015-09-07 17:32] nojaf opened #191 "Https on Azure"
Hi,

I'm trying to set up vorlon on Azure using https.
It's not working and I can't make heads or tails of it.
My error log in Monaco:
[code]

I did the deploy to azure button, uploaded my certificate files and changed the config.js.
So I would like to have https://vorlon.mysite.com up and running but it's not doing anything.

Any ideas?

Thanks,

nojaf

[2015-09-07 18:11] deltakosh commented on #191
Hello, pulling in @meulta and @pierlag :)

[2015-09-07 18:16] deltakosh commented on #187
Let's keep things in order :)
First of all, can you share your gulp task and files? We will find a way to help you merge everything in one single file

Then, about the plugin: as long as the server and the client are both generated using this enum, you must find it inside both file (server.js and client.js)

But as I mentioned before, let's fix your multiple files issues first :) I suggest that yo

[2015-09-07 18:16] deltakosh commented on #190
Just to better understand, this API would be on the client side, correct?

[2015-09-07 18:21] gleborgne commented on #187
You could also make a fork of Vorlon, add your plugin and send us the github url for your fork. We may be able to have a look in context

[2015-09-08 07:20] meulta commented on #191
Hello,

Did you follow the documentation on the readme file on the root the github repo ? :) https://github.com/MicrosoftDX/Vorlonjs/blob/development-0.0.16/README.md

[2015-09-08 08:29] sjoerd222888 commented on #190
Yes. Questions are how the API should look like exactly. I guess I should be able to pass the a reference to the DOM element directly (I mean the JavaScript representative of the DOM node).

What I could do with this API:
- Add a new context menu entry such that I can do right-click/inspect element
- Create a special debug mode where I can just click on DOM nodes and they get automatically selecte

[2015-09-08 08:48] nojaf commented on #191
yup, that's the thing.

[2015-09-08 14:56] sjoerd222888 opened #193 "Feature request: Support plug-ins without rebuilding vorlon"
Currently plug-ins have to be tightly built into vorlon. It would be nice if plug-ins can be separate and installed into a vorlon server without rebuilding all of it.

(At the end it would be really nice if there is a gui for this similar to Chrome Applications where you can install additional plug-ins. But let's start with something simple)

[2015-09-08 15:28] meulta commented on #190
GLeborgne is currently implementing a way to select an element on the client side and be directed to the corresponding element in the dom Explorer.
Will this help you ?

[2015-09-08 15:31] meulta commented on #193
in which case do you need to rebuild all ?
You just have to copy / paste the plugin js files into the server/public/vorlon/plugins folder.
Tell me if you need help with that.

[2015-09-08 15:35] meulta commented on #191
Can you give more information about your issue ? What is not working?
We need more to be able to help you.
Thanks :)

[2015-09-08 15:37] deltakosh commented on #163
Up?

[2015-09-08 15:39] pierlag commented on #191
is working if you use azure domain name like https://xxx.azurewebsites.net ?

[2015-09-08 15:46] csuwildcat commented on #163
I'll pull this down and run it today.

[2015-09-08 15:56] sjoerd222888 commented on #190
If I understand it correctly and I can use this to select element in the DOM Explorer, then yes.

[2015-09-08 16:01] nojaf commented on #191
No, found a error page with HTTP Error 500.1001 - Internal Server Error
Logs aren't really saying anything.
```Tue, 08 Sep 2015 15:58:14 GMT express-session deprecated req.secret; provide secret option at Scripts\vorlon.webServer.js:48:26```

[2015-09-08 16:13] gleborgne commented on #190
You understand correctly. About using Vorlon intrusively as an API, You could actually do it today. If You use Object explorer you must see a "VORLON" object. Plugins instances are stored in VORLON.Core._clientPlugins. You could look at plugins code to see how to hookup

[2015-09-08 16:18] meulta opened #194 "Socket.io polling unstable"
When socket.io is fallbacking on xhr poll request the server is unstable.

[2015-09-08 16:30] sjoerd222888 commented on #190
But you are working on a more clean solution to do this, right?

[2015-09-08 16:53] gleborgne commented on #190
In the next version you will have the inspect button and the plugin will have a clean "selectElementInDashboard" function but for now, you will have to call it like explained above. We will discuss internally about exposing an API for the following release.

[2015-09-09 08:48] meulta commented on #191
The deprecated message is on master (not causing any trouble though) and will be corrected on 0.0.16.
This is not the issue.

I think the issue is not on the vorlon size but on the Azure configuration, can you give us more info about how you azure website is configured?
Thanks

[2015-09-09 09:18] Temechon commented on #187
Hello,
I work with @TheFrenchieCake on this plugin. You can find our fork here: https://github.com/Temechon/Vorlonjs

As you can see, I add to update the [plugin gulpfile](https://github.com/Temechon/Vorlonjs/blob/master/Plugins/gulpfile.js) to concat client.js with interfaces.js (same for dashboard).

Can you help us please ?

[2015-09-09 15:11] alexfrih commented on #181
Hi,
do you still have this problem ? If yes can you send me your exact configuration (maybe with your files/website) to try to force the bug happen again.

Because on iOS 8.4.1 (iPad and iPhone) it works for me (Safari and Chrome).

Thank you.

[2015-09-09 16:03] meulta commented on #115
The vorlon.js part is merged into the dev branch, @mauron85  can you validate that it is fixing your issue ?
@alexfrih can you update the doc in the VorlonjsWeb github repo ?

[2015-09-10 11:32] mauron85 commented on #115
I've just compiled and tested development-0.0.16 branch and it works great on localhost.

But I still have issue on server, where resources are not found.

Here is the link:
http://dev.mapilary.com/vorlonjs/

My nginx conf for that particular domain:
[code]

Server/config.json
[code]

[2015-09-10 11:34] mauron85 commented on #115
Also it would be great if socket.io baseUrl /socket.io/ could be configurable too.

[2015-09-10 11:38] mauron85 commented on #115
Also very small issue, on welcome page path to client script should reflect baseURL.

Now it always state:
TO GET STARTED, YOU MUST ADD A REFERENCE TO CLIENT SCRIPT IN THE PAGE OF YOUR WEBSITE, LIKE THIS :
<script src="http://localhost:1337/vorlon.js"></script>

[2015-09-10 12:56] alexfrih commented on #115
Okay i'm on it.
But your website is offline i need to check something on it can you put it online again please ? Thank you!

[2015-09-10 13:33] alexfrih commented on #115
To make it work on your domain :
[code]
by
[code]
For the second issue i will talk about it with my team because i need to have more details.
And for the last one thank you for the report. I will fix this today.

[2015-09-10 14:03] mauron85 commented on #115
@alexfrih site is up again.

Yes, that will do the trick, but IMHO instead of this, VorlonJs should use relative paths to static resources.

[2015-09-10 17:57] csuwildcat commented on #163
@Carlos487 Do you have any instructions on getting your test app running? I tried running the Android project located in "platforms", but it threw build errors. cc/ @deltakosh

[2015-09-10 19:19] Carlos487 commented on #163
Sure @csuwildcat. It is better to do the following steps on a network without a proxy.

You need a few things:

- Android SDK and it's tools installed and added to the PATH the **tools** and **platform-tools** folders
- The SDK **API 22** of Android 5.1.1
- **Gradle** installed to compile the android project
- Cordova CLI installed (it has a dependency on Node.JS)

Then it is as easy as going to t

[2015-09-11 00:22] deltakosh commented on #187
Hello what are you expecting from us? I see that your concat code is already working so do you still need help? :)

[2015-09-11 09:56] isyara opened #198 "OSX : Command not found"
Hi,

I'm under OSX Yosemite (v 10.10.5)  and i'm using iTerm 2.

After **sudo npm i -g vorlon**  and run command **vorlon** , i have :

[code]

An idea ?

[2015-09-11 11:40] Temechon commented on #187
Our questions were more about the 'best practices', but if it's validated from Vorlon dev team, we can create a PR :)

[2015-09-11 17:17] deltakosh commented on #187
My only ask would be to create a separate tasks for plugins who need extra works like yours

[2015-09-12 15:32] meulta commented on #198
Hello,

Did you get the install log from the npm command?

[2015-09-15 08:40] nojaf commented on #191
Hi, sorry for the delay. I didn't configure anything on Azure. I hit the 'deploy to azure' button, then it ran correctly.
And I uploaded my certificates and changed the config.json file.

[2015-09-15 15:07] deltakosh commented on #163
Some news?

[2015-09-15 15:08] meulta commented on #193
Reopen if you have more info :)

[2015-09-15 15:08] #193 closed

[2015-09-15 15:12] deltakosh commented on #191
Is it a paid certificate? Did you check azure web sites log (WEB SERVER LOGGING + DETAILED ERROR MESSAGES + FAILED REQUEST TRACING)?

[2015-09-15 15:13] #187 closed

[2015-09-15 15:17] csuwildcat commented on #163
I am trying Carlos' updated instructions.

On Tue, Sep 15, 2015 at 8:07 AM, David Catuhe <notifications@github.com>
wrote:

[2015-09-15 15:31] Carlos487 commented on #163
I had already sent the detailed instructions in the post above

On Tue, Sep 15, 2015 at 8:17 AM -0700, "Daniel Buchner" <notifications@github.com> wrote:
I am trying Carlos' updated instructions.

On Tue, Sep 15, 2015 at 8:07 AM, David Catuhe <notifications@github.com>
wrote:

---
Reply to this email directly or view it on GitHub:
https://github.com/MicrosoftDX/Vorlonjs/issues/163#issuecomment-140

[2015-09-15 15:33] csuwildcat commented on #163
Yes, I am trying them out :)

On Tue, Sep 15, 2015 at 8:31 AM, Carlos Fabara <notifications@github.com>
wrote:

[2015-09-15 15:41] Carlos487 commented on #163
Nice... tell me if you need any advice or if you get any errors

[2015-09-15 15:57] csuwildcat commented on #163
Just got it running, your instructions were very helpful. On my end, your Vorlon Cordova test app loads successfully, but did not connect to the Vorlon Dashboard. I ended up changing the script tag source in the app's index.html page to point at my laptop's own local IP address (192.168.1.109:1337 instead of localhost:1337). When I reloaded the app with the Vorlon script coming from my test machin

[2015-09-15 16:03] Carlos487 commented on #163
Did you tried with the 4.0 emulator? Are you using the latest stable or a development build of vorlon?

On Tue, Sep 15, 2015 at 8:57 AM -0700, "Daniel Buchner" <notifications@github.com> wrote:
Just got it running, your instructions were very helpful. On my end, your Vorlon Cordova test app loads successfully, but did not connect to the Vorlon Dashboard. I ended up changing the script tag source i

[2015-09-15 16:33] csuwildcat commented on #163
I have the latest Vorlon (pulled just before testing) and was using SDK API 22, which is only being permitted to run under an Android 5.x configuration - it seems they are bound to one another. When I deleted the Android 5 runtime, it automatically removes the API 22 option, and the project refuses to start under any Android 4.x option:
[code]

[2015-09-15 17:41] Carlos487 commented on #163
Not exactly, you can compile an Android app with the latest API level or SDK, but that doesn't mean it with only work on that android version. In my case I'm compiling the app with sdk 22 and deploying it in a Android 4.0 emulator.

In the file **VorlonJS-Cordova-Test-App/platforms/android/AndroidManifest.xml** you can define the property `minSdkVersion` that states which is the minimum supported

[2015-09-16 10:00] gleborgne opened #201 "upgrade modernizr plugin"
upgrade plugin to benefit from modernizr 3 (https://modernizr.com/news/modernizr-3-new-release-site)

[2015-09-16 20:40] nojaf commented on #191
Yes, I'm using a paid certificate indeed. Can't find anything in the logs. But I've only just enabled everything. I'll look again tomorrow.

[2015-09-17 11:58] alexfrih commented on #115
I have updated my nginx.conf
[code]
You should be ok with this conf. I close this issue, open again if you need it !
Thanks.

[2015-09-17 11:58] #115 closed

[2015-09-17 20:25] meulta commented on #201
pulling @davrous

[2015-09-17 20:26] meulta commented on #198
Hello :) More info ?

[2015-09-17 20:27] meulta commented on #191
Okay, give us anymore detail you can, we are not able to see where your problem is right now :/

[2015-09-17 20:28] meulta commented on #181
Any more info @alexfrih ? @kanoshin ?

[2015-09-18 10:28] mauron85 commented on #115
Cannot reopen issue, as I'm not contributor.
But, guys will you accept my PR? I have changed vorlonjs to serve static resource from baseUrl. Think it's better then to rely on nginx.

Here is the commit:
https://github.com/mauron85/Vorlonjs/commit/2b1b357d5df1d1daa9dc157b8a08178217d30aca

Here is my nginx conf:
[code]

And here is working vorlonjs demo:
http://dev.mapilary.com/vorlonjs/

[2015-09-18 16:16] meulta opened #205 "Better management of error in pulgin loading"
When not refefenced in the gulp.js file
Log when min.js not found and when id not found

[2015-09-18 16:26] deltakosh opened #206 "Bug refresh dashboard / refresh client if stop/restart node"

[2015-09-18 16:29] deltakosh opened #207 "Bug document.body with modernizr"
document.body doesn't exist. Modernizr hyphens test needs it.

[2015-09-18 16:37] deltakosh opened #208 "Fix round numbers on device plugin"

[2015-09-18 16:57] deltakosh opened #209 "Fix Qunit"

[2015-09-20 12:40] nojaf commented on #191
Not sure if any of this is helpful

In http/RawLogs/
[code]

Am I missing some sort of port forwarding? 1337 to https?

Errorpage in DetailedErrors/
[code]

Perhaps if somebody wants to take a look at the Azure side of the website. I could provide temporary access to the site.

[2015-09-21 00:55] deltakosh opened #210 "Update documentation for plugins writers"

[2015-09-21 07:42] isyara commented on #198
How get log from vorlon install ?

[2015-09-21 07:49] gleborgne commented on #210
documentation should insist on being very carefull with plugin startup and bootstrap on the clientside, especially for plugins related to specific tools (angular, babylon, qunit).
I Get many errors from those plugins, mostly because targeted lib is not present in the client.

[2015-09-21 08:32] pierlag commented on #198
For exemple : http://localhost:1337/logs

[2015-09-21 13:15] deltakosh commented on #210
Agree.. do you mind point out some of them? Or even better trying to fix them?

[2015-09-21 13:18] gleborgne commented on #210
We stabilize web proxy and will fix them on the fly

[2015-09-21 13:24] deltakosh commented on #210
Thanks I appreciate!

[2015-09-21 14:58] deltakosh opened #212 "Clean plugins to remove sendTo in constructor"
This is no more useful as all is based on refresh now

[2015-09-21 18:05] meulta commented on #191
Thanks for your info. @pierlag does that help you ?

[2015-09-21 21:17] meulta commented on #206
Fixed in https://github.com/MicrosoftDX/Vorlonjs/commit/116b58d329cdebc0fe3dcd3e2f62765a13249596

[2015-09-21 21:17] #206 closed

[2015-09-22 08:23] kanoshin commented on #181
@meulta @alexfrih I've rechecked again with xhr plugin turned on, and it is working. Not sure what was the problem before. Thanks for you help.

[2015-09-22 08:32] kanoshin commented on #90
Hi guys, when are you planning to release 0.0.16?

[2015-09-22 11:01] meulta commented on #181
Ok perfect, thanks

[2015-09-22 11:01] #181 closed

[2015-09-22 15:15] deltakosh commented on #90
We still need to clean a lot of stuff so we expect it by mid-october

[2015-09-23 20:41] nojaf commented on #191
Hi guys, I'm dropping the ssl setting and running on plain old http.
I can't provide you the info you need so let's not waste any more time on this ;)

[2015-09-23 20:41] #191 closed

[2015-09-28 08:11] #208 closed

[2015-09-28 16:19] csuwildcat commented on #163
Hey @Carlos487, just wanted to update you: I am getting some things set travel tomorrow morning and will be at a work week then out for the weekend. I expect to have time for further testing/debugging of this issue starting next week.

[2015-09-28 17:53] Carlos487 commented on #163
That's nice @csuwildcat, by that time if you have any issue with the android app or if there is anything I can help, let me know.

[2015-09-29 15:31] meulta opened #220 "Add "Start vorlon" script button on the dashboard"

[2015-09-30 16:03] meulta commented on #150
Hello,

fixed here : https://github.com/MicrosoftDX/Vorlonjs/commit/ae2a9e7febe17996dbe105ec26ae37d9ca4aea34

Right now it is reloading the dashboard on the browser level. I will open a new issue to do that without reload.

[2015-09-30 16:04] meulta opened #221 "Reconnect client on dashbaord without reloading the dashboard page"

[2015-10-03 09:00] achaussier opened #224 "Integrate vorlon into an application test suite"
Hello,
Thanks for this amazing project, it's very interesting and opens many use cases.

I think it should be useful to have an API or another system to integrate vorlon into an application test suite.
With this system, we can get more informations when a test fail for example.

[2015-10-03 09:32] gleborgne commented on #224
Could you expand on what you would like a little bit ?

[2015-10-03 09:47] maxklock opened #225 ""ActivateAuth" not Working"
I have installed VorlonJs with Docker on my Ubuntu-Server and tried to protect it with "activateAuth" but it doesn't work. Here my config.json

{
    "includeSocketIO": true,
    "useSSL": false,
    "SSLkey": "cert/server.key",
    "SSLcert": "cert/server.crt",
    "activateAuth": true,
    "username": "vorlon",
    "password": "vorlon",
    "plugins": [
        { "id": "CONSOLE", "name": "Intera

[2015-10-03 10:04] matthieuklotz commented on #225
Did you make your own container based on the development-0.0.16 branch, or do you use [the existing container on the docker hub](https://hub.docker.com/r/matthieuklotz/vorlonjs/).
The container that I have released on the docker hub is based on the latest stable release on npm (0.0.15) that does not support authentication.

[2015-10-03 10:29] maxklock commented on #225
I created my own Container:

FROM ubuntu:14.04
RUN apt-get update && apt-get install -y curl
RUN curl --silent --location https://deb.nodesource.com/setup_0.12 | sudo bash -
RUN apt-get install -y build-essential nodejs python make
RUN npm i -g socket.io
RUN npm i -g vorlon

[...]

Where I have to change to the development-0.0.16 branch?

[2015-10-03 10:51] achaussier commented on #224
I'll write a use case to explain my thoughts.

  1. At the beginning of end to end test suite, link the app to vorlon
  2. If a test fail It should be useful to have some vorlon api actions which can be launched :
  - Dump the dom,
  - Execute console command,
  - Dump the console output,
  - ...

But to do this, we need to interact with vorlon with an api to do actions, get session identifier, ..

[2015-10-03 12:24] gleborgne commented on #224
For your use-case, your end to end runner (selenium/webdriver ?) probably already do what you're asking.

Adding an API for that is possible in Vorlon but a little more complicated than that (you also need to identify your client, not just the session, manage authentication in the api, ...)

We will discuss it with the team

[2015-10-05 20:46] meulta commented on #225
Hello,

If i understand it well, you are getting the npm package. This will give you the 0.0.15 version which does not contain authentication (and many other features).

The 0.0.16 will be out soon in NPM.

To get the 0.0.16 (dev) branch you can run :
git clone https://github.com/microsoftdx/vorlonjs
(go in the vorlonjs repository)
git checkout development-0.0.16
npm install
npm run

Tell me if th

[2015-10-05 20:48] meulta commented on #198
Hello isyara
Any new on this ?

[2015-10-05 20:53] matthieuklotz commented on #225
Hi @maxklock ,

Sorry for my late reply. @meulta describes you the only way to do a docker container with the dev branch. After the "npm install" command, you should make a dockerfile that will copy all your local content to your container (you could remove all .d.ts or .ts files).
It's currently what I do for testing VorlonJS 0.0.16 on my docker container :)

[2015-10-06 07:22] maxklock commented on #225
Thank you! I've tried it with git clone and checkout, but there was always an error because of npm dependencies. But i didn't now, there is an "npm install"! Now it's working fine!
The Dockerfile:

FROM ubuntu:14.04
RUN apt-get update && apt-get install -y curl
RUN curl --silent --location https://deb.nodesource.com/setup_0.12 | sudo bash -
RUN apt-get install -y build-essential nodejs python make

[2015-10-06 07:22] #225 closed

[2015-10-06 07:36] meulta commented on #194
Issue happens when socket.io connection are limited
If you are on Azure, you need to change your Web app plan (standard is WebSocket connection unlimited)

[2015-10-06 07:47] meulta commented on #225
Great news!

[2015-10-06 14:10] deltakosh commented on #194
We still need to update the documentation

[2015-10-06 15:06] isyara commented on #198
I re-install and i don't have error :

![screenshot](https://cloud.githubusercontent.com/assets/2648791/10312664/726e78a2-6c4c-11e5-8629-c1c9a8f54dc4.png)

Need more information ?

[2015-10-07 14:37] #209 closed

[2015-10-07 14:38] pierlag commented on #209
Auto-fix

[2015-10-07 15:16] meulta commented on #194
Yep ;)

[2015-10-07 16:12] meulta opened #227 "Fix DOM refresh indicator"
Sometimes the indicator is red but the dom did not changed

[2015-10-07 16:16] deltakosh opened #228 "Remove the crap (0) item that no one understand :D"

[2015-10-07 16:16] meulta opened #229 "Search in object explorer generates an error"
"not found"

[2015-10-07 16:19] meulta opened #230 "Cannot horizontally scroll in the Network Monitor plugin"
@cubitouch can you have a look?

[2015-10-07 16:32] meulta opened #231 "Add missing CSS to babylon plugin"
pulling @temechon

[2015-10-07 16:32] lahloumehdi commented on #229
I am not able to reproduce this issue. Can you @meulta give me a sample or steps to reproduce it with the vorlon sample :) ?

[2015-10-07 16:36] #212 closed

[2015-10-07 16:50] meulta commented on #229
It is when I am searching something that does not exist in the DOM.

[2015-10-07 16:52] #228 closed

[2015-10-07 17:02] meulta opened #232 "Babylon.js Error in console when there is no babylon.js loaded in the client"
@temechon

[2015-10-07 17:07] davrous opened #233 "Inject into BABYLON.Engine constructor prototype rather than asking for a global object"
@Temechon

In current BABYLON.JS plugin, the doc says you need to assign the engine to the global window.engine object.

It would be MUCH better to rather inject your code into the BABYLON.Engine constructor to avoid doing that. You could do the same thing also when a scene is created to notify the dashboard rather than statically scanning the scenes on startup.

[2015-10-07 17:19] lahloumehdi commented on #229
Obviously :) , I'll fix that. Thanks
Le 7 oct. 2015 18:50, "Etienne Margraff" <notifications@github.com> a
écrit :

[2015-10-08 09:08] isyara commented on #198
Hi,

I have updated nodejs and npm ,and it works  ;-)

[2015-10-08 09:08] #198 closed

[2015-10-08 11:35] Temechon commented on #233
Indeed :) I'll update it with your advices.

[2015-10-09 02:01] BrandonLive opened #235 "Can't deploy dev branch via Azure Deploy"
I was able to deploy from master, but then found it didn't support auth. So I first tried updating the source control binding on the Azure portal but it kept giving me an error fetching. Then I deleted my deployment and had the deploy script create it again. This failed with a similar error (and I tried twice).

Here's what I ended up with:
![image](https://cloud.githubusercontent.com/assets/52736

[2015-10-09 02:02] BrandonLive commented on #235
Oh whoops, here's with the View Error dialog showing.
![image](https://cloud.githubusercontent.com/assets/5273646/10384370/0ead94f2-6def-11e5-92b2-3077ec63f8ed.png)

[2015-10-09 02:05] BrandonLive commented on #235
And here's a more detailed log I found via the Azure portal.

[2015-10-09 02:11] BrandonLive commented on #235
Here's a more detailed log via the Azure portal:

[code]

[2015-10-09 02:51] BrandonLive commented on #235
Actually not I can't seem to deploy the master branch either. Hmm...

[2015-10-09 11:57] 20cents opened #236 "Doesn't work for 4.2.2 Android webview"
It doesn't work for 4.2.2 Android webview but it works in the browser.
The test was made in a Cordova app.
The app crash about 15s after launch.
An alert display something like: Unsuccessful server connection

It works on Android 5

[2015-10-09 20:40] BrandonLive commented on #235
Well, it worked today. Not sure if it was a transient problem, or maybe has to do with which hosting plan you deploy to (when it's worked it's been Free, when it didn't work I was trying to deploy to a Basic plan).

[2015-10-09 20:48] BrandonLive opened #237 "Can't get SSL to work on Azure"
I've set up the dev-0.16 branch on Azure. I'm able to see the dashboard working with the initial set up, and if I enable authentication, I see the login prompt. In fact, if I then enable SSL bindings on Azure, I'm able to connect to my custom host and see the dashboard/login over SSL.

But if I enable the useSSL option (with my key and cert in place), the server fails to start.

Via failed request

[2015-10-09 21:09] meulta commented on #237
Hey :)

Are you trying to use with a custom certificate or the azure dev one ?

Pulling @pierlag on this one

[2015-10-09 21:10] meulta commented on #236
Hey,

Can you provide us the app code ?
Or do you have a simple way to reproduce that ?
Is it happenning on an emulator ? A physical device?

Thanks

[2015-10-09 21:13] meulta commented on #235
Hello,

You can deploy it on a free plan (but websockets are limited to 5).
I tested it right now on the dev branch and it worked.

Not sure what the problem was...

Can you reopen this if you can reproduce it ?

Thanks

[2015-10-09 21:13] #235 closed

[2015-10-09 21:16] BrandonLive commented on #235
@meulta Did you try deploying on a non-free plan?

Free plans won't work because they can't do SSL. But I am able to change the deployment to Basic after it's deployed. If this is consistent and not just a transient error from last night, then you probably shouldn't close this issue...

[2015-10-09 21:16] BrandonLive commented on #235
(at the very least, if that's the case, at least the readme should be updated to say that you must select "free" and not another plan type, and then can change it later)

[2015-10-09 21:17] BrandonLive commented on #237
It's a custom cert.

[2015-10-09 21:27] BrandonLive commented on #237
BTW, I found this in the IIS log:

[code]

Is the use of port 80 for an HTTPS request the problem here?

[2015-10-09 21:31] meulta commented on #237
Hm, this file should not be requested through a web request

[2015-10-09 21:48] meulta commented on #237
I will investigate this with @pierlag and get back to you

[2015-10-09 21:51] BrandonLive commented on #237
Could the problem be that it's trying to make a web socket connection using the wrong domain? (i.e. the azurewebsites one, and not the one the cert is valid for?)

I tried various ways of using the baseUrl property to set that, but it seemed to have no effect.

[2015-10-09 21:55] meulta commented on #237
Don't think so. Did you set all the domain name information on the configure part of the azure web app?

[2015-10-09 21:57] BrandonLive commented on #237
Yes, the domain resolves correctly, and works fine if I disable SSL. Also as I said above, I can access the dashboard via HTTPS and the custom domain if I disable useSSL in the config file. But enabling that always causes the app to hang/abort on startup (and all requests to the site just hang indefinitely). I've also tried with auth disabled, and doing the same thing on a separate deployment of t

[2015-10-09 22:00] meulta commented on #237
Did you uploaded your SSLKey and SSLCert and update the config.json to point to these files?

[2015-10-09 22:07] BrandonLive commented on #237
Yup.

[2015-10-09 22:17] meulta commented on #237
Hm. Ok thanks

[2015-10-09 22:41] deltakosh commented on #237
Are you sure this is not a problem to point to a different domain?

[2015-10-12 10:45] 20cents commented on #236
Hello,

A way to reproduce that: (simple if you have the Android SDK yet installed!)
$ npm install -g cordova
$ cordova create MyApp
$ cd MyApp
$ cordova platform add android
Plug an Android 4.2.2 on your computer
$ cordova run android

A very simple app will display an Apache Cordova screen with a "device ready" message.
Every thing works good.

Open www/index.html
Add the vorlon script.
Replace

[2015-10-12 11:28] #150 closed

[2015-10-12 11:29] meulta commented on #221
done in dev branch

[2015-10-12 11:29] #221 closed

[2015-10-12 11:31] meulta commented on #227
@csuwildcat Did you have the time to look into this? :)

[2015-10-12 13:26] csuwildcat commented on #227
I'm rather busy preparing X-Tag, our Web Components library, for release
this week. I would probably be more free towards the end of the month.
On Oct 12, 2015 4:31 AM, "Etienne Margraff" <notifications@github.com>
wrote:

[2015-10-12 23:10] pebanfield opened #241 "Running from source & vorlon command"
Hi - I've run into some issues running vorlon on an ubuntu based network VM. To resolve the issue I would like to turn on and off some plugins via configuration.

In the documentation it is recommended that I run from source. Also, the vorlon command is currently not working in my install. How should the vorlon command actually work? Is it simply an alias for a bash script? If so, what is the scri

[2015-10-13 07:25] meulta commented on #241
What you can do is go on an empty folder and run :

git clone https://github.com/MicrosoftDX/Vorlonjs/tree/development-0.0.16
cd vorlonjs
npm install
npm start

Can you tell me if this worked?

[2015-10-13 15:15] #194 closed

[2015-10-13 15:34] meulta opened #242 "Update documentation for SSL usage"

[2015-10-13 15:42] pierlag commented on #237
You can use https directly (without SSL activation on config.json) on azure deployment URL like : https://myvorlon.azurewebsites.net/dashboard
I will check this issue with a custom domain

[2015-10-13 15:47] BrandonLive commented on #237
Doing that loads the dashboard correctly, and serves the client JS just fine, but then the client can't connect to the web socket (and I got a giant red error message at the top of the page). It appeared that this was because it was trying to connect over http which the browser won't allow.

[2015-10-13 18:12] pebanfield commented on #241
Well so vorlon seems to be running when I run npm start although there are a lot of errors. Here is my output

user@ubuntu:/opt/node/Vorlonjs$ sudo npm start
[sudo] password for user:

[11:08:25] Working directory changed to /opt/node/Vorlonjs/Server
[11:08:25] Using gulpfile /opt/node/Vorlonjs/Server/gulpfile.js
[11:08:25] Starting 'default'...
[11:08:25] Starting 'typescript-to-js'...
[11:08:25]

[2015-10-16 07:22] nico3333fr commented on #189
Hi,

I would like to know how you deploy to Azure, do you have a simple tutorial for this ?

See ya,
Nico

[2015-10-16 13:47] deltakosh commented on #189
Here is it:) http://blogs.msdn.com/b/emargraff/archive/2015/09/17/how-to-deploy-an-online-vorlon-js-server-with-authentication.aspx

[2015-10-16 14:07] nico3333fr commented on #189
![bisou](https://cloud.githubusercontent.com/assets/2578321/10543751/fa9046b8-741f-11e5-97cb-136c22e92d59.gif)

Thanks, I will test it this week-end :)

[2015-10-16 23:16] lahloumehdi commented on #227
@meulta I think I have fixed the issue. A PR is coming.

[2015-10-18 14:07] meulta commented on #237
Hello @BrandonLive
I don't understand, did you manage to get your way into making it work ?

[2015-10-18 14:08] meulta commented on #241
Hi,

There is this error in the master branch right now because they was a typescript change and we did not reflect this in the master. We will fix lib versions in the master branch as soon as the 0.0.16 is stabilize (really soon ! :))

Please reopen this if you need more info

[2015-10-18 14:08] #241 closed

[2015-10-18 14:20] meulta commented on #227
great thanks, did you already pushed it ?
I still have the issue on my side :)

[2015-10-18 14:21] meulta commented on #229
Hey I still have the issue here :)
Can you test on your side?

[2015-10-18 15:34] pebanfield commented on #241
Ok thanks. Seems to be working fine so I will double back to update later. Cheers.

Peter

[2015-10-18 16:14] gleborgne commented on #227
Not yet...

[2015-10-18 16:53] meulta commented on #241
nice to hear :)

[2015-10-18 16:53] meulta commented on #227
No worries I was just checking to know if I could close this :)

[2015-10-18 22:11] BrandonLive commented on #237
No, someone told me an issue was identified and they were looking into it. Haven't heard anything since?

What part of my last post wasn't clear? Enabling HTTPS on Azure lets you load the dashboard and serve the JS file over HTTPS, but the client can't connect to the server because it's trying to use regular HTTP.

[2015-10-19 16:37] #227 closed

[2015-10-19 16:37] #229 closed

[2015-10-20 09:38] nico3333fr commented on #189
I got an error 403 : Error 403 - This web app is stopped. (I tried to log in with a @live.fr account)

Any idea ?

[2015-10-21 21:23] meulta commented on #231
Any new @Temechon ? I think you just forgot to commit your css file ;)

[2015-10-21 21:23] meulta commented on #232
any new @Temechon ? :)

[2015-10-21 22:35] #237 closed

[2015-10-22 17:11] naresh217 opened #247 "Path must be a string"
Hi I am trying to use vorlon over https

changed Boolean useSSL to true.
Placed certificate in cert directory under npm/node_modules/vorlon/server/cert

When i run vorlon its throwing an error "TypeError: path must be a string"

C:\Users\NareshC>vorlon
fs.js:565
fs.write = function(fd, buffer, offset, length, position, callback) {
                                                 ^
TypeError: path

[2015-10-22 17:14] #242 closed

[2015-10-22 17:25] naresh217 commented on #247
here is my config.json if that helps
i dont have any SSL key. So i have just removed that line

{
    "useSSL": true,

    "SSLcert": "cert/mycert.cer",
    "includeSocketIO": true,
    "plugins": [
        { "id": "CONSOLE", "name": "Interactive Console", "panel": "bottom", "foldername": "interactiveConsole", "enabled": true },
        { "id": "DOM", "name": "Dom Explorer", "panel": "top", "folde

[2015-10-22 17:26] pierlag commented on #247
hi need SSL key if you want use https :)

[2015-10-22 17:26] #247 closed

[2015-10-22 17:46] naresh217 commented on #247
Opened certificate and used copied public key as SSL Key. It is looking for in some other directly like
C:Users/NareshC/cert.
I have copied both certficate and SSLkey files here but i see below error

C:\Users\NareshC>vorlon
express-session deprecated req.secret; provide secret option AppData\Roaming\npm\node_modules\vorlon\Server\Scripts\vorlon.webServer.js:48:26
2015-10-22T17:40:09.603Z - error:

[2015-10-22 18:19] pierlag commented on #247
If you activate SSL nodejs need 2 files to start webserver. On Vorlonjs\Server\cert by default. Files must be access from root server directory
If you just activate SSL it's working on localhost ?

[2015-10-22 21:45] #143 closed

[2015-10-23 23:54] meulta opened #250 "Fix deploy azure button on npm website"

[2015-10-25 16:58] deltakosh opened #251 "Add simpler support for node.js debugging"

[2015-10-26 10:38] meulta opened #252 "Add plugins list management by session"

[2015-10-26 15:58] naresh217 commented on #247
Thanks. Instead of using provided certificate and key. I am using my server certificate and key.
But still instated of looking certificates under npm/node_modules/vorlon/server/cert it is looking in c:user/<username>/cert.
I have copied cert folder to here and it worked like charm

[2015-10-26 16:25] meulta commented on #247
Great !

[2015-10-27 15:35] naresh217 opened #253 "Request Aborted"
Hi,
I am using vorlon on my https.
I have changed config to use SSL and every thing works fine.
But in network it says Status as "Aborted". When we right click and open in new tab and "Add to Exception" it works.

But the issue is how can i do this or avoid getting this error in ipad.
Note: I am using this in native App. (Uses HTML5)

[2015-10-28 12:30] meulta commented on #253
Hello,

Can you give me more information about the error you get? When you say in "network" is it on F12? On Vorlon? What is the "Add to Exception" you are talking about?

Thanks

[2015-10-29 13:41] phyer opened #255 "How could i make it work fine with requirejs?"
if i reference vorlon in index.html head before requirejs, then run project.
I got the error in firebug:

how to resolve?

[2015-10-29 18:39] phyer commented on #255
Sorry, it's my issue, I could not use firebug  but use web inspector buildin

[2015-10-29 19:12] naresh217 commented on #253
Its on F12.  Attached screen shot.
![capture](https://cloud.githubusercontent.com/assets/5828286/10829265/599752b2-7e4f-11e5-9db0-ed04635ccca1.PNG)

[2015-10-30 13:09] meulta commented on #255
I understand you fixed this :)
Closing the issue

[2015-10-30 13:09] #255 closed

[2015-10-30 13:12] meulta commented on #253
That seems to be an error related to your certificate.
Is it still valid ? is it a dev one ?

[2015-11-03 10:38] manudss opened #257 "[ngInspector] Error display nothing because "vorlon.ngInspector.interfaces.js" did not include."
To Sebastien Olivier,

With Vorlon 0.1.0 when I activate the plugin ngInspector, it display nothing. When I go to the console, I see this error :
[code]

After reshearch, I have found that is because, the file vorlon.ngInspector.interfaces.js was not included in all the vorlon js files. For that, all object was not known. By addind all code from vorlon.ngInspector.interfaces.js into the file clien

[2015-11-05 13:58] CoachRDeveloper opened #258 "Installation does not work"
I performed "npm i -g vorlon" but got all kinds of errors (cannot attach a .log or .txt file). When I then tried to run "vorlon" I got the following error:
module.js:339
    throw err;
    ^

Error: Cannot find module 'C:\Users\xxx\AppData\Roaming\npm\node_modules\vorlo
n\bin\vorlon'
    at Function.Module._resolveFilename (module.js:337:15)
    at Function.Module._load (module.js:287:25)
    at F

[2015-11-05 18:18] meulta commented on #257
Hello, this was an error in the javascript files referencing on the dashboard and the client, not directly linked to ng plugin :)

It is fixed in the "dev" branch now: https://github.com/Microsoftdx/vorlonjs/tree/dev
You can get it from there or wait for merge in the master / npm package

[2015-11-05 18:18] #257 closed

[2015-11-06 09:17] meulta commented on #258
Hello,

Can you give me more information about your env? Are you on mac, linux, windows? :)

There is an issue we are currently working on for mac :)

[2015-11-06 09:18] meulta commented on #253
I close this as I suppose you have resolved it :)
Reopen it if needed

[2015-11-06 09:18] #253 closed

[2015-11-06 13:59] CoachRDeveloper commented on #258
I'm currently on Windows 7, with NodeJS 5.0.0.

[2015-11-06 14:14] Temechon commented on #231
I can't for the life of me find where css files are ignored in .gitignore. I tried to update the main gitignore to commit the css file but failed pathetically.
Css in now inlined in the HTML file. PR done on dev branch.

[2015-11-06 14:15] Temechon commented on #232
Can you send me the error displayed please ?

[2015-11-07 16:54] meulta commented on #258
I think it might be related to your nodejs version, I will check that

[2015-11-08 02:11] housemeow commented on #231
after npm install vorlon, run server and see no css style
Am I facing the same problem?
http://imgur.com/On7kkjC

[2015-11-08 19:08] meulta commented on #232
Happening on the client in F12 :

[code]

[2015-11-09 13:21] marcesso opened #263 "Vorlon.js: waiting for socket.io to load..."
Hello,

After seeing the nice demo last Friday in Nantes, I would like to debug an angular website with vorlonjs.
I could deploy the dashboard successfully but I can't use it because the client is not reached.

Client-side, this is the main.scala.html template loaded:
[code]
The client console shows this error:
[code]
I changed _socketIOWaitCount max from 10 to 50 and timeout from 1000 to 5000 to

[2015-11-09 14:57] meulta commented on #263
Hello !

Are you using Socket.io in your own app ?

[2015-11-09 15:04] MorisatoK commented on #258
I ran into the same problem after upgrading to nodejs v5. Also on Windows 7 (Enterprise if that matters).

Error message (including the Python error that can be ignored) and npm-debug.log can be found [here](https://gist.github.com/MorisatoK/15dde71c061737f2b598)

[2015-11-09 15:11] marcesso commented on #263
No, I don't

[2015-11-10 11:53] kirkone opened #265 "[ngInspector] Error on first action in dashboard"
I have deployed the "dev" branch to azure and enabled "NGINSPECTOR" in the config file.
Now when I run my Angular SPA in Visual Studio the site starts up and in the Moment when I click in Dashboard on the client I get an error in "ClientMessenger.sendRealtimeMessage()".
The error Shows up here:
"var strmessage = JSON.stringify(message);"
and says:
"Circular reference in value argument not supporte

[2015-11-10 16:05] meulta commented on #258
Yep I think we have a pb with npm that comes with this version.
Installing it when cloning from https://github.com/MicrosoftDX/Vorlonjs/tree/dev
and running "npm install" like here : http://www.vorlonjs.io/

Can you try ?

[2015-11-10 16:36] MorisatoK commented on #258
Not sure if I understood you correctly, but `npm i -g git+https://github.com/MicrosoftDX/Vorlonjs#dev`  results in the same error.

[2015-11-10 17:00] #207 closed

[2015-11-10 17:42] meulta commented on #258
Do you mean you cloned the repo quand you still got an issue ?
The python one is "normal" but there should be a fallback quand vorlon should still work

[2015-11-11 10:11] MorisatoK commented on #258
I now did clone the repo and just did `npm install` inside of it. This seems to build fine from either the master or the dev branch and I can start it from inside the bin directory. However `npm install -g` from inside the repo fails with the bufferutil error again.

[2015-11-12 08:11] meulta commented on #258
Yep we are working on this :)
Is it blocking for you ?

[2015-11-12 08:11] meulta commented on #252
Done in dev by @gleborgne

[2015-11-12 08:11] #252 closed

[2015-11-12 08:12] meulta commented on #263
I'm on it :)

[2015-11-12 08:14] meulta commented on #265
Hello,

Can you try a very simple Angular app (with a light scope and only one variable in it) and try it the same way ?

Can you paste me the content of the message variable if not to long ?

[2015-11-12 08:18] marcesso commented on #263
Thanks, let me know if you need further dependencies info about my angular website

[2015-11-12 08:32] MorisatoK commented on #258
Thanks for the reply!

At least for me it isn't blocking. I poked the global vorlon shortcuts (from the failed installation) to point to the bin in the git repo. Works for me :)

[2015-11-12 08:50] meulta commented on #258
ok perfect, I will keep you updated

[2015-11-12 17:34] tbalouet opened #267 "Error require QUnit when accessing program"
I tried using Vorlon, it was working great a long time ago, this time I reinstalled it, same configuration than before, but I get the following error when launching my program
![image](https://cloud.githubusercontent.com/assets/5400381/11125744/dd10b242-896b-11e5-9758-6c407ce63ef7.png)

Any idea? I don't require this file from my side, so it may be an installation problem, even though I didn't get

[2015-11-12 17:35] meulta commented on #267
Hello,

How are you referencing vorlon.js ? I see a mention of requirejs.

Thanks

[2015-11-12 17:37] meulta commented on #231
@housemeow did you install it via npm on mac ?
if so you need to run it using **sudo vorlon**

[2015-11-12 17:41] tbalouet commented on #267
classic way :
[code]
in the head

[2015-11-12 17:58] meulta commented on #267
Okay
Why is the screenshot displaying require.js ? is it one of your files you named like this?

[2015-11-12 18:00] meulta commented on #232
I fixed it never mind :)

[2015-11-12 18:00] #232 closed

[2015-11-12 18:06] tbalouet commented on #267
we are using require.js which is a file loading module, but we don't use it to load QUnit. Or maybe there's a redefinition of require on your side?

[2015-11-12 19:18] meulta commented on #267
Nop, we are not using requirejs.
Which is weird is that the error says it is happening in the require.js file... Could you hand me a full simple repro case ? With files i so i can test on my side?
Thanks

[2015-11-12 19:22] meulta commented on #263
Ok i am pretty sure you have the same issue than #267 this seems to be related to using require.js.

Im still investigating :-)

[2015-11-13 07:33] kirkone commented on #265
hi, thanks for the Reply, I will do some tests next Weekend.
I will give an update when I have some new informations.
Greetings, KirK

[2015-11-13 09:00] cubitouch opened #268 "Add a bookmarklet on the documentation"
Hi guys!

I used VorlonJS yesterday to debug a mobile (iPhone) issue on a HTTP public website. I had to deploy in order to have the "vorlon.js" script included. I think it would be nice to have a bookmarklet to reduce this (temporary) deployment time and effort.

If this interest anyone, I can make a PR. If so, where should I put it (I didn't found it on the repos neither on dev and website projec

[2015-11-13 09:11] cubitouch commented on #230
Sorry, got too much notifications, didn't see that before!
I'll sure have a look when I'll have some time.

[2015-11-13 09:12] meulta commented on #265
Thanks

[2015-11-13 09:27] gleborgne opened #269 "Identify client"
For now, client can be identified by clicking in the Dashboard and it display client number on all clients.

If you consider identifying clients in production, you could not click on identify all (every users will get it). We should have an API client-side to provide an identity for the client.

[2015-11-13 10:35] cubitouch commented on #230
After analysis, the plugin "is" scrollable.
![image](https://cloud.githubusercontent.com/assets/7486151/11143925/3e4a5be8-89f9-11e5-922b-4baff84ccb15.png)

But the top bar broke at some point and the horizontal scrollbar is not available anymore.
![image](https://cloud.githubusercontent.com/assets/7486151/11143943/5314eebc-89f9-11e5-954c-2e7557df698b.png)

Is that your issue ?

It seems we have th

[2015-11-16 08:51] meulta commented on #269
Good idea

[2015-11-16 08:52] meulta commented on #268
Hello,

You can also se the http proxy which is available in the last version and send the url to your phone to debug it.
Do you think that'll do it?

[2015-11-16 08:52] gleborgne commented on #269
If it's ok, I will start working on it

[2015-11-16 08:54] meulta commented on #269
Not yet, we may change stuff on the server part and I would like and it might have an impact on this :)

[2015-11-16 08:59] cubitouch commented on #268
Not sure of what you are talking about.
The idea about the bookmarklet was to prompt the "ip:port" of the VorlonJS server to be generic.

[2015-11-16 09:21] tbalouet commented on #267
Sadly it's quite a big project. I wanted to know if it was a known issue, I'll try to look it up by myself some more

[2015-11-16 10:33] meulta commented on #267
Can you try to add the reference to the vorlon.js script before everything else?

[2015-11-16 10:37] meulta commented on #268
I am talking about this : http://www.vorlonjs.io/documentation/#vorlon-proxy

How would prompting the ip:port will help to reduce the deployment part?

[2015-11-16 10:40] gleborgne commented on #268
What I've thought about for simplyfiying the proxy is an url shortener mecanism, but for hosted scenarios, it means storing those parameters somewhere (just like session based config)

[2015-11-16 10:53] cubitouch commented on #268
Sorry, I didn't read all of this about the Proxy. It seems to fit my needs but I cannot make it work at the moment:
![image](https://cloud.githubusercontent.com/assets/7486151/11179991/96b5ff48-8c57-11e5-9767-6f097212ac95.png)

I'm sure this works anyway, I just not have the time right now to have a look at this (I may not be up to date).

My idea was to register a bookmarklet on the client, an iP

[2015-11-16 17:03] meulta commented on #268
Hm, did you try to go to the http://localhost:1337/httpproxy url ?
Not sure why you get a "false" here.

[2015-11-16 21:33] meulta commented on #231
fixed

[2015-11-16 21:33] #231 closed

[2015-11-17 08:38] cubitouch commented on #268
Yes, I followed the steps on the proxy page, but got not response of the proxy after entering my URL (HTTP browser error). I pasted what I had in the npm console.

[2015-11-17 09:14] meulta commented on #268
I fixed something in the new build process yesterday night.
Can you pull and try again ? :)

[2015-11-17 16:39] deltakosh commented on #210
Clsoing this as it will never happen

[2015-11-17 16:39] #210 closed

[2015-11-17 16:40] deltakosh commented on #163
Up?

[2015-11-17 16:45] deltakosh opened #271 "Integrating aXe into best practices plugin"

[2015-11-17 16:45] deltakosh commented on #271
http://www.deque.com/products/aXe/

[2015-11-17 16:47] deltakosh commented on #230
can you PR the fix?

[2015-11-18 02:16] housemeow commented on #231
thanks! when i add sudo then it's works!

[2015-11-18 10:28] meulta commented on #250
Fix in dev branch

[2015-11-18 10:28] #250 closed

[2015-11-18 12:45] cubitouch commented on #268
I just pulled. I use the HTTP Proxy page:
![image](https://cloud.githubusercontent.com/assets/7486151/11241277/cb0588f6-8df9-11e5-85b3-3ac5891fdcea.png)

But I receive an empty response error:
![image](https://cloud.githubusercontent.com/assets/7486151/11241275/c2462842-8df9-11e5-8be8-dd8ec9bb5cf8.png)

I got this in the npm console:
![image](https://cloud.githubusercontent.com/assets/7486151/1124

[2015-11-18 12:48] gleborgne commented on #268
Looks like a bug in managing the redirection, try entering url without "www"

[2015-11-18 12:49] cubitouch commented on #230
I'm still not sure how to properly fix this. It depends on the activated plugins and their position in the tab bars.

A javascript patch seems a little too much for this. I'll ask our integrator if he has an idea without redefining the whole dashboard :)

[2015-11-18 12:51] cubitouch commented on #268
Right! Seems working, great :)
Thank you.

[2015-11-18 12:52] gleborgne commented on #268
I Will look why the redirection did not work though

[2015-11-18 12:53] meulta commented on #268
Good ! Thanks
Do you still think you need the bookmarklet @cubitouch  ?

[2015-11-18 12:57] cubitouch commented on #268
Nop, I think the proxy would be easier to use from a mobile. :)

[2015-11-18 13:01] meulta commented on #268
Great, i'm closing this one :)

[2015-11-18 13:01] #268 closed

[2015-11-18 23:24] agoeurysky opened #273 "Vorlon proxy : don't use localhost hardcoded"
Hello,

I'm hosting a vorlon server on myserver.com:1337. When I try to use the vorlon proxy (/httpproxy) to debug a website in production, it does not seem to work because I am redirected to **localhost:5050** automatically instead of **myserver.com:5050**.

Do you know this issue ? Is there a way to don't use localhost but the relative url to solve this ?

Thank you.

[2015-11-19 13:00] gleborgne commented on #269
Pending pull request with feature implemented :-)

[2015-11-21 12:17] meulta commented on #273
Hello,

You can configure that on the server/config.json file.
There is a vorlonproxyurl

[2015-11-21 15:58] meulta commented on #269
Yep works perfectly thanks

[2015-11-21 15:58] #269 closed

[2015-11-21 16:25] meulta commented on #267
Can you get the latest version from dev and try again ?
I just wrote a fix for QUnit and I think this will help.

Thanks

[2015-11-21 16:25] meulta commented on #265
Hello,

Any news?

[2015-11-21 16:26] meulta commented on #263
Can you get the latest version from dev and try again ?
I just wrote a fix for QUnit and I think this will help.

Thanks

[2015-11-23 21:55] meulta commented on #267
Closing this one, open it again if the issue is still here :)

[2015-11-23 21:55] #267 closed

[2015-11-23 21:55] meulta commented on #263
Closing this one, open it again if the issue is still here :)

[2015-11-23 21:55] #263 closed

[2015-11-23 21:56] meulta commented on #273
Did it help ? :)

[2015-11-24 09:03] agoeurysky commented on #273
Yes, thank you :)

[2015-11-24 09:03] #273 closed

[2015-11-24 09:47] marcesso commented on #263
Sorry for the late response
I could try again and it works with dev version
I can't see anything in nginspector tab. However, I am not sure I did everything expected about vorlon compilation. So I will try again with master version when PR will be done and let you know.

Many thanks

[2015-11-24 15:15] meulta commented on #263
okay, if the nginspector does not work as expected do not hesitate to create an issue about it ! :)

[2015-11-25 08:45] royto commented on #267
I had the same issue with the 0.1.0.
Switching to dev, it works well now.
thanks

[2015-11-25 14:58] essentialskills opened #275 "Unable to view the plugin data when remote debugging Chrome on an iPad"
I am struggling to get vorlonjs to view the console, resources, network etc.. when trying to remote debug Chrome (ver 46) on an iPad 4 (iOS ver 9.1).  I can get the DOM stuff working and there are no vorlonjs server errors.  Its just doesn't show any data at all for the other plugins.  Including no data for My Device.  But hovering over the DOM elements does highlight the correct parts on my iPad.

[2015-11-25 16:05] tbalouet commented on #267
Silly question (and sorry for the long delay), How do I get the dev version from npm?
Thanks!

[2015-11-25 17:36] meulta commented on #267
unfortunately, you cannot.

you need to

`git clone http://github.com/microsoftdx/vorlonjs`
`git checkout dev `
`npm install`
`npm start`

[2015-11-26 16:44] tbalouet commented on #267
Yep, solved the problem, thanks!

[2015-11-29 14:53] yohaia opened #277 "can't install with node 5.1.0 and npm 3.5.0"
Try to install with:
1. **npm i -g vorlon** - failed.
2. clone the repo, run **npm start** - failed

I am on windows 8.1

Any suggestions?

[2015-11-29 15:12] yohaia opened #278 "Working with electron"
I am using **electron-v0.35.1-win32-x64**,
and having a hard time running it with vorlon.

any idea's what i need to do?

[2015-11-29 18:15] gleborgne commented on #278
You first need to build vorlon before trying to run the desktop version (by running npm install and npm start in the root folder). After that, you must make a npm install in the desktop folder.

[2015-11-30 08:38] yohaia commented on #278
Thanks, working :+1:

[2015-12-01 08:03] #278 closed

[2015-12-01 11:47] meulta commented on #277
Hello,

We have an issue with this npm version when getting from the NPM repo.
When you cloned the repo, did you run **npm install** before **npm start*** ?

[2015-12-01 11:49] meulta commented on #275
Hello,

How did you get your vorlon instance ?
Are you running vorlon with admin privileges ?

It is weird that the DOM Ex. works but not the other ones...

[2015-12-01 11:50] meulta commented on #271
Closing this one as it is done in dev, right? :)

[2015-12-01 11:50] #271 closed

[2015-12-01 14:35] essentialskills commented on #275
I followed your instructions

npm i -g vorlon

I ran it by using “sudo vorlon” at the prompt.

That’s what I thought.  Does it work for you guys?  (debugging Chrome on iPad)
I can get Safari on iPad working but not Chrome

From: Etienne Margraff
Sent: Tuesday, December 1, 2015 6:49 AM
To: MicrosoftDX/Vorlonjs
Cc: essentialskills
Subject: Re: [Vorlonjs] Unable to view the plugin data when remote de

[2015-12-01 16:55] davrous commented on #233
Hi @Temechon , did you manage to find time to review this architecture change?

[2015-12-02 08:34] yohaia commented on #277
Yes. try this. did not work.

[2015-12-02 22:10] Rudloff opened #281 "CSS not loading"
It seems vorlon can't find the CSS:
[code]

(I am using the 0.1.0 release from npm.)

[2015-12-02 22:12] Rudloff commented on #281
It works if I run vorlon with `sudo`.

[2015-12-02 22:57] meulta commented on #281
Yep, right now you have run it using sudo.
Making it working without this is on the backlog ;-)

[2015-12-02 22:57] #281 closed

[2015-12-02 22:58] meulta commented on #277
@deltakosh is on this one :-)

[2015-12-03 20:27] deltakosh commented on #277
Yep..working on it..I keep you posted but expect some delay as this may be only resolvable on node side

[2015-12-03 20:27] deltakosh commented on #277
In the meantime, I suggest using node 4

[2015-12-08 16:50] meulta opened #283 "Simplify plugin creation process"
Create a clear doc
Simplify the dev en

[2015-12-13 18:07] warpdesign opened #284 "Vorlon desktop: ECONNREFUSED 127.0.0.1:1337"
Whenever I run Vorlon desktop, i'm getting a popup with this error.

The first time I ran it, I had this error, right before the windows firewall popup that appear, asking me if I want to accept connection from vorlon.

I accepted, but I'm still getting this error everytime I start the app.

I have nothing that's running on this port. I tried changing the port, without success.

[2015-12-13 18:14] warpdesign commented on #263
@meulta I'm getting the same error when trying to use vorlon.js (a big red banner appears at the top of my page with "Vorlon.js: please load socket.io before referencing vorlon.js or use includeSocketIO = true in your catalog.json file.").

Where is this catalog.json file ?

I'm not using socket.io in my app.